<div class="container-fluid">    
  <div class="row">
    <div class="col-lg-1"></div>
    <div  class="col-lg-10">
        <div class="row ">
            <div class="col-lg-2">
                <p class="FormHeadText">USER</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10"></div>
        </div>
        <br>
        <div class="row LocDashboard">
            <div class="col-lg-12">
                <label class="fontheading">User Details</label>
            </div>
        </div>
        <div class="card BOXCARD">
            <div class="row leavereq">
                <div class="col-md-2">
                    <label class="fonttxt">UserName<span style="color: red;">*</span></label>
                </div>
                <div class="col-md-2">
                    <label class="fonttxt">Email ID<span style="color: red;">*</span></label>
                </div>
                <div class="col-md-2">
                    <label  class="fonttxt">Role<span style="color: red;">*</span></label>
                </div>
                <div class="col-md-2">
                    <label  class="fonttxt">Date Added<span style="color: red;">*</span></label>
                </div>
                <div class="col-md-1">
                    <label  class="fonttxt">Is Active?<span style="color: red;">*</span></label>
                </div>
                <div class="col-md-1">
                    <label  class="fonttxt">Is Total?<span style="color: red;">*</span></label>
                </div>
                <div class="col-md-1">
                    <label  class="fonttxt">Is Locked?<span style="color: red;">*</span></label>
                </div>
                <!-- <div class="col-md-2">
                    <label  class="fonttxt">Model Access<span style="color: red;">*</span></label>
                </div> -->
            </div>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input type="text" class="form-control inputfield" [(ngModel)]="username">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control inputfield" [(ngModel)]="email">
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <select class="form-control inputfield  fonttxt" [(ngModel)]="role">
                            <option value="Select">Select Roll</option>
                            <option value="1">Roll Type 1</option>
                            <option value="2">Roll Type 2</option>
                            <option value="3">Roll Type 3</option>
                            <option value="4">Roll Type 4</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control inputfield" [(ngModel)]="dateAdded">
                </div>
                <div class="col-md-1">
                    <div class="dropdown">
                        <select class="form-control inputfield fonttxt" [(ngModel)]="isActive">
                            <option value="Select">Select Y/N ?</option>
                            <option value="1">Y</option>
                            <option value="2">N</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="dropdown">
                        <select class="form-control inputfield fonttxt" [(ngModel)]="isTotal">
                            <option value="Select">Select Y/N ?</option>
                            <option value="1">Y</option>
                            <option value="2">N</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="dropdown">
                        <select class="form-control inputfield fonttxt" [(ngModel)]="isLocked">
                            <option value="Select">Select Y/N ?</option>
                            <option value="1">Y</option>
                            <option value="2">N</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="col-md-2">
                    <div class="dropdown">
                        <select class="form-control inputfield fonttxt" [(ngModel)]="isLocked">
                            <option value="Select">Select Y/N ?</option>
                            <option value="1">Y</option>
                            <option value="2">N</option>
                        </select>
                    </div>
                </div> -->
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <label  class="fonttxt">Model Access<span style="color: red;">*</span></label>
                </div>
            </div>
            <div class="row leavereq">
                <!-- <div class="col-md-2">
                    <div class="dropdown">
                        <select class="form-control inputfield fonttxt" [(ngModel)]="model_Access">
                            <option value="Select">Select Y/N ?</option>
                            <option value="1">Y</option>
                            <option value="2">N</option>
                        </select>
                    </div>
                </div> -->
                <div class="col-md-2">
                    <div class="dropdown">
                        <select class="form-control inputfield fonttxt" name="Model Access" Id="Model Access" [(ngModel)]="model_Access">
                            <option value="">Select </option>
                            <option *ngFor="let model_Access of model_AccessList" value={{model_Access.id}}>{{model_Access.short}} </option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-8"></div>
                <div class="col-lg-1">
                    <button class="form-control CancelBTN fontheading">Cancel</button>
                </div>
                <div class="col-lg-1">
                    <button class="form-control SubmitBTN" (click)="OnSubmit()" >Submit</button>
                </div>

            </div>
            <div class="row">
                
            </div>
        </div><br>
    </div>
    <div class="col-lg-1"></div>
</div>

</div>

