.Text{
    text-align: center;
}

.container-fluid{
    width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
text-align: center;
font-weight:bold;
margin-top: 20px;
height: 20px;
}
