<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href="" class="Heading">Currency Master Details</a>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active">View</a></li>
                        <!-- <li><a routerLink="/CompanyProfile">Modify</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-4">
                    <a routerLink="/CurrencyMasterForm"><button class="button">Add</button> </a>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr class="newFont">
                                    <th>Currency Name</th>  
                                    <th>Country Name</th>
                                    <th>Description</th>
                                    <th style="padding-left: 47px;">Actions</th>
                                <tr>
                            </thead>
                            <tbody>
                                <tr class="newFont">
                                    <td>Philippines Peso</td>
                                    <td>Philippines</td>
                                    <td>NA</td>
                                    <td> <button class="EditBTN">Edit</button>&nbsp;&nbsp;
                                        <button class="DeleteBTN">Delete</button>
                                    </td>
                                    <!-- <td><img class="imgcancel" src="/assets/cancel (1).png"></td> -->
                                </tr>
                                <tr class="newFont">
                                    <td>Rupees</td>
                                    <td>India</td>
                                    <td>NA</td>
                                    <td> <button class="EditBTN">Edit</button>&nbsp;&nbsp;
                                        <button class="DeleteBTN">Delete</button>
                                    </td>
                                    <!-- <td><img class="imgcancel" src="/assets/cancel (1).png"></td> -->
                                </tr>
                                <tr class="newFont">
                                    <td>Dollars</td>
                                    <td>United States of America</td>
                                    <td>NA</td>
                                    <td> <button class="EditBTN">Edit</button>&nbsp;&nbsp;
                                        <button class="DeleteBTN">Delete</button>
                                    </td>
                                    <!-- <td><img class="imgcancel" src="/assets/cancel (1).png"></td> -->
                                </tr>
                                <tr class="newFont">
                                    <td>Dhirams</td>
                                    <td>United States of Emirates</td>
                                    <td>NA</td>
                                    <td> <button class="EditBTN">Edit</button>&nbsp;&nbsp;
                                        <button class="DeleteBTN">Delete</button>
                                    </td>
                                    <!-- <td><img class="imgcancel" src="/assets/cancel (1).png"></td> -->
                                </tr>
                                <tr class="newFont">
                                    <td>Euros</td>
                                    <td>United Kingdom</td>
                                    <td>NA</td>
                                    <td> <button class="EditBTN">Edit</button>&nbsp;&nbsp;
                                        <button class="DeleteBTN">Delete</button>
                                    </td>
                                    <!-- <td><img class="imgcancel" src="/assets/cancel (1).png"></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
