<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href="" class="Heading">SSS</a>
                    <hr class="HrLine">
                </div>
            </div>
            <!-- <div class="row FilterClass">
                <div class="col-lg-2">
                    Filter By
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration">
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="search" placeholder="Search for date , Type or Code">
                </div>
            </div><br> -->
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active">View</a></li>
                        <li><a>Modify</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <a href="/sssForm"><button class="button">Add</button> </a>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>Range_Of_Compensastion</th>
                                    <th>MSCRSS_EC</th>
                                    <th>MSC_MPF</th>
                                    <th>MSC_Total</th>
                                     <th>RSS_ER</th> 
                                     <th>RSS_EE</th>
                                     <th>RSS_Total</th>
                                     <th>EC_ER</th>
                                     <th>EC_EE</th>
                                     <th>EE_Total</th>
                                     <th>MPF_ER</th>
                                     <th>MPF_EE</th>
                                     <th>MPF_Total</th>
                                     <th>ER</th>
                                     <th>EE</th>
                                     <th>Total</th>
                                <tr>
                            </thead>
                              <tbody>
                               <tr *ngfor="let details of ssslist">
                                   <td>{{details.range_Of_Compensastion}}</td>
                                   <td>{{details.mSCRSS_EC}}</td>
                                   <td>{{details.mSC_MPF}}</td>
                                   <td>{{details.mSC_Total}}</td>
                                   <td>{{details.rSS_ER}}</td>
                                   <td>{{details.rSS_EE}}</td>
                                   <td>{{details.rSS_Total}}</td>
                                   <td>{{details.eC_ER}}</td>
                                   <td>{{details.eC_EE}}</td>
                                   <td>{{details.eE_Total}}</td>
                                   <td>{{details.mPF_ER}}</td>
                                   <td>{{details.mPF_EE}}</td>
                                   <td>{{details.mPF_Total}}</td>
                                   <td>{{details.eR}}</td>
                                   <td>{{details.eE}}</td>
                                   <td>{{details.total}}</td>
                               </tr>                             
                            </tbody> 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>