<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li><a class="active">View</a></li>
                        <li routerLink="/DependentDetailsModify"><a>Modify</a></li>
                    </ul>
                </div>
            </div>
         <!-- <div class="card card-padding">
             <div class="row">
                 <div class="col-lg-12">
                     <p class="Heading">Paygroup</p><hr>
                 </div>
             </div>          
         </div> <br> -->
         <div class="card card-padding">
             <div class="row">
                 <div class="col-lg-12">
                     <p class="Heading">Paygroup</p>
                 </div>
             </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>               
                        </thead>
                    </table>
                </div>                              
            </div><br>
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">
                    <button class="button">Add</button>
                    <button class="button">Cancel</button>

                </div>
            </div>
         </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
