
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href=""class="Heading fontheading">PayRoll</a>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="row FilterClass fontheading">
                <div class="col-lg-2">
                    Filter By
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration">
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="search" placeholder="Search for date , Type or Code">
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active fontheading">View</a></li>
                        <li ><a href="/PayRollForm">Modify</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <a href="/PayRollForm"><button class="button fontheading">Add</button> </a>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered fonttxt">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>Year</th>
                                    <th>Month</th>
                                    <th>Period</th>
                                    <th>Payroll Run type</th>
                                    <th>Pay Group</th>
                                    <th>Description</th>
                                    <th>Transaction Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                <tr>
                            </thead>
                           <tr *ngFor="let data of selectdata">
                            <td class="SelectData"><input type="checkbox">{{data.selectedData}}</td>
                               <td>{{data.year}}</td>
                               <td>{{data.month}}</td>
                               <td>{{data.period}}</td>
                               <td>{{data.pay_Roll_Run_Type}}</td>
                               <td>{{data.pay_Group}}</td>
                               <td>{{data.description}}</td>
                               <td>{{data.transaction_Date}}</td>
                               <td>{{data.status}}</td>
                               <td><img class="imgcancel" (click)="Ondelete(data.id)"  src="/assets/cancel (1).png"></td>
                           </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>