<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-4">
                    <a href=""class="Heading fontheading">M1-1</a>
                </div>
            </div> <hr>
            <div class="row FilterClass ">
             <div class="col-lg-2"></div>
                <div class="col-lg-2">
                   <p> Select Start Month & Year</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>                       
                      </select>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <!-- <option value="Select">Select</option> -->
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>                                          
                      </select>
                </div>            
            </div><br> 
            <!-- <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p>Signatory Person</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="Admin">Admin</option>
                        <option value="HR">HR</option>                 
                        <option value="Finance">Finance</option>                                          
                      </select>
                </div>
            </div> <br> -->
           
           <div class="row">
               <div class="col-lg-5"></div>
               <div class="col-lg-2">
                   <button class="button" (click)="showpdf()">Generate</button>
               </div>
           </div>
             
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>




<br/>
<br/>
<div class="row" *ngIf="showleaseforprint==1">
    <div class="col-lg-5">

    </div>
    <div class="col-lg-4">
        <button class="button1" (click)="convetToPDF1()">Export to PDF <i class="fa fa-download" aria-hidden="true"></i></button>
    </div>
<div id="downloadaplication" style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden;margin-top:280px;">
    <div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/mcrf.jpg" width=612 height=792></div>
    <div style="position:absolute;left:460.97px;top:57.98px" class="cls_002"><span class="cls_002">209754750003</span></div>
    <div style="position:absolute;left:28.80px;top:104.78px" class="cls_002"><span class="cls_002">TalentUS Inc.</span></div>
    <div style="position:absolute;left:28.80px;top:137.18px" class="cls_002"><span class="cls_002">5F Phinma Plaza, 39 Phinma Dr,</span></div>
    <div style="position:absolute;left:520.85px;top:165.98px" class="cls_002"><span class="cls_002">1210</span></div>
    <div style="position:absolute;left:31.78px;top:212.25px" class="cls_003"><span class="cls_003">121122212689</span></div>
    <div style="position:absolute;left:178.94px;top:214.05px" class="cls_003"><span class="cls_003">Ancheta</span></div>
    <div style="position:absolute;left:243.99px;top:214.05px" class="cls_003"><span class="cls_003">Abigaile</span></div>
    <div style="position:absolute;left:325.46px;top:214.05px" class="cls_003"><span class="cls_003">Gatdula</span></div>
    <div style="position:absolute;left:366.70px;top:214.05px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:214.05px" class="cls_003"><span class="cls_003">80000.00</span></div>
    <div style="position:absolute;left:454.99px;top:213.40px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:213.34px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:214.05px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:225.20px" class="cls_003"><span class="cls_003">121065690097</span></div>
    <div style="position:absolute;left:180.18px;top:227.00px" class="cls_003"><span class="cls_003">Aquino</span></div>
    <div style="position:absolute;left:237.61px;top:227.00px" class="cls_003"><span class="cls_003">Samantha Joy</span></div>
    <div style="position:absolute;left:324.34px;top:227.00px" class="cls_003"><span class="cls_003">Camiring</span></div>
    <div style="position:absolute;left:366.70px;top:227.00px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:227.00px" class="cls_003"><span class="cls_003">35000.00</span></div>
    <div style="position:absolute;left:454.99px;top:226.35px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:226.29px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:227.00px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:238.16px" class="cls_003"><span class="cls_003">121017175731</span></div>
    <div style="position:absolute;left:178.94px;top:239.96px" class="cls_003"><span class="cls_003">Baltazar</span></div>
    <div style="position:absolute;left:240.86px;top:239.96px" class="cls_003"><span class="cls_003">Ruby Rose</span></div>
    <div style="position:absolute;left:322.34px;top:239.96px" class="cls_003"><span class="cls_003">Matusalem</span></div>
    <div style="position:absolute;left:366.70px;top:239.96px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:239.96px" class="cls_003"><span class="cls_003">45000.00</span></div>
    <div style="position:absolute;left:454.99px;top:239.31px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:239.25px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:239.96px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:251.11px" class="cls_003"><span class="cls_003">121035551432</span></div>
    <div style="position:absolute;left:176.94px;top:252.91px" class="cls_003"><span class="cls_003">Bersamira</span></div>
    <div style="position:absolute;left:246.24px;top:252.91px" class="cls_003"><span class="cls_003">Aldrin</span></div>
    <div style="position:absolute;left:321.33px;top:252.91px" class="cls_003"><span class="cls_003">De Guzman</span></div>
    <div style="position:absolute;left:366.70px;top:252.91px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:252.91px" class="cls_003"><span class="cls_003">35000.00</span></div>
    <div style="position:absolute;left:454.99px;top:252.26px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:252.20px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:252.91px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:264.07px" class="cls_003"><span class="cls_003">121081729270</span></div>
    <div style="position:absolute;left:176.94px;top:265.87px" class="cls_003"><span class="cls_003">Bersamira</span></div>
    <div style="position:absolute;left:246.61px;top:265.87px" class="cls_003"><span class="cls_003">Carlo</span></div>
    <div style="position:absolute;left:321.72px;top:265.87px" class="cls_003"><span class="cls_003">de Guzman</span></div>
    <div style="position:absolute;left:366.70px;top:265.87px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:265.87px" class="cls_003"><span class="cls_003">35000.00</span></div>
    <div style="position:absolute;left:454.99px;top:265.21px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:265.16px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:265.87px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:277.02px" class="cls_003"><span class="cls_003">121031042667</span></div>
    <div style="position:absolute;left:179.56px;top:278.82px" class="cls_003"><span class="cls_003">Bodoso</span></div>
    <div style="position:absolute;left:241.11px;top:278.82px" class="cls_003"><span class="cls_003">Mary Rose</span></div>
    <div style="position:absolute;left:326.46px;top:278.82px" class="cls_003"><span class="cls_003">Banico</span></div>
    <div style="position:absolute;left:366.70px;top:278.82px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:278.82px" class="cls_003"><span class="cls_003">40000.00</span></div>
    <div style="position:absolute;left:454.99px;top:278.17px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:278.11px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:278.82px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:289.98px" class="cls_003"><span class="cls_003">001897545083</span></div>
    <div style="position:absolute;left:181.32px;top:291.77px" class="cls_003"><span class="cls_003">Burac</span></div>
    <div style="position:absolute;left:235.86px;top:291.77px" class="cls_003"><span class="cls_003">Mary Joy Noelle</span></div>
    <div style="position:absolute;left:324.96px;top:291.77px" class="cls_003"><span class="cls_003">Campos</span></div>
    <div style="position:absolute;left:366.70px;top:291.77px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:291.77px" class="cls_003"><span class="cls_003">70000.00</span></div>
    <div style="position:absolute;left:454.99px;top:291.12px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:291.07px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:291.77px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:178.57px;top:304.73px" class="cls_003"><span class="cls_003">Cardeno</span></div>
    <div style="position:absolute;left:247.37px;top:304.73px" class="cls_003"><span class="cls_003">Dina</span></div>
    <div style="position:absolute;left:324.21px;top:304.73px" class="cls_003"><span class="cls_003">Quintana</span></div>
    <div style="position:absolute;left:366.70px;top:304.73px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:304.73px" class="cls_003"><span class="cls_003">45000.00</span></div>
    <div style="position:absolute;left:454.99px;top:304.08px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:304.02px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:304.73px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:315.88px" class="cls_003"><span class="cls_003">111111111111</span></div>
    <div style="position:absolute;left:179.06px;top:317.68px" class="cls_003"><span class="cls_003">Carreon</span></div>
    <div style="position:absolute;left:244.98px;top:317.68px" class="cls_003"><span class="cls_003">Rachel</span></div>
    <div style="position:absolute;left:325.09px;top:317.68px" class="cls_003"><span class="cls_003">Cabilete</span></div>
    <div style="position:absolute;left:366.70px;top:317.68px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:317.68px" class="cls_003"><span class="cls_003">50000.00</span></div>
    <div style="position:absolute;left:454.99px;top:317.03px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:316.98px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:317.68px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:328.84px" class="cls_003"><span class="cls_003">121035252473</span></div>
    <div style="position:absolute;left:180.31px;top:330.64px" class="cls_003"><span class="cls_003">Cedillo</span></div>
    <div style="position:absolute;left:245.99px;top:330.64px" class="cls_003"><span class="cls_003">Lucita</span></div>
    <div style="position:absolute;left:325.09px;top:330.64px" class="cls_003"><span class="cls_003">Montero</span></div>
    <div style="position:absolute;left:366.70px;top:330.64px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:330.64px" class="cls_003"><span class="cls_003">55000.00</span></div>
    <div style="position:absolute;left:454.99px;top:329.99px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:329.93px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:330.64px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:341.79px" class="cls_003"><span class="cls_003">101001412344</span></div>
    <div style="position:absolute;left:179.56px;top:343.59px" class="cls_003"><span class="cls_003">Chavez</span></div>
    <div style="position:absolute;left:240.24px;top:343.59px" class="cls_003"><span class="cls_003">Ma. Russell</span></div>
    <div style="position:absolute;left:325.22px;top:343.59px" class="cls_003"><span class="cls_003">Bullecer</span></div>
    <div style="position:absolute;left:366.70px;top:343.59px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:343.59px" class="cls_003"><span class="cls_003">35000.00</span></div>
    <div style="position:absolute;left:454.99px;top:342.94px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:342.88px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:343.59px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:354.75px" class="cls_003"><span class="cls_003">121061940767</span></div>
    <div style="position:absolute;left:174.19px;top:356.55px" class="cls_003"><span class="cls_003">de los Reyes</span></div>
    <div style="position:absolute;left:241.87px;top:356.55px" class="cls_003"><span class="cls_003">Jacquelyn</span></div>
    <div style="position:absolute;left:325.35px;top:356.55px" class="cls_003"><span class="cls_003">Morales</span></div>
    <div style="position:absolute;left:366.70px;top:356.55px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:356.55px" class="cls_003"><span class="cls_003">35000.00</span></div>
    <div style="position:absolute;left:454.99px;top:355.89px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:355.84px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:356.55px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:177.19px;top:369.50px" class="cls_003"><span class="cls_003">Dela Cruz</span></div>
    <div style="position:absolute;left:241.48px;top:369.50px" class="cls_003"><span class="cls_003">Julie Anne</span></div>
    <div style="position:absolute;left:323.97px;top:369.50px" class="cls_003"><span class="cls_003">San Jose</span></div>
    <div style="position:absolute;left:366.70px;top:369.50px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:369.50px" class="cls_003"><span class="cls_003">45000.00</span></div>
    <div style="position:absolute;left:454.99px;top:368.85px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:368.79px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:369.50px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:380.66px" class="cls_003"><span class="cls_003">159000672628</span></div>
    <div style="position:absolute;left:179.06px;top:382.46px" class="cls_003"><span class="cls_003">Eusebio</span></div>
    <div style="position:absolute;left:236.35px;top:382.46px" class="cls_003"><span class="cls_003">Michael Joseph</span></div>
    <div style="position:absolute;left:326.22px;top:382.46px" class="cls_003"><span class="cls_003">Ramos</span></div>
    <div style="position:absolute;left:366.70px;top:382.46px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:382.46px" class="cls_003"><span class="cls_003">40000.00</span></div>
    <div style="position:absolute;left:454.99px;top:381.80px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:381.75px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:382.46px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:393.61px" class="cls_003"><span class="cls_003">121169290805</span></div>
    <div style="position:absolute;left:180.18px;top:395.41px" class="cls_003"><span class="cls_003">Galvez</span></div>
    <div style="position:absolute;left:240.99px;top:395.41px" class="cls_003"><span class="cls_003">Francy Joy</span></div>
    <div style="position:absolute;left:320.34px;top:395.41px" class="cls_003"><span class="cls_003">delos Santos</span></div>
    <div style="position:absolute;left:366.70px;top:395.41px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:395.41px" class="cls_003"><span class="cls_003">45000.00</span></div>
    <div style="position:absolute;left:454.99px;top:394.76px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:394.70px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:395.41px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:406.56px" class="cls_003"><span class="cls_003">121073418619</span></div>
    <div style="position:absolute;left:177.43px;top:408.36px" class="cls_003"><span class="cls_003">Gumapac</span></div>
    <div style="position:absolute;left:239.61px;top:408.36px" class="cls_003"><span class="cls_003">Glenn Eddie</span></div>
    <div style="position:absolute;left:325.47px;top:408.36px" class="cls_003"><span class="cls_003">Coronel</span></div>
    <div style="position:absolute;left:366.70px;top:408.36px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:408.36px" class="cls_003"><span class="cls_003">35000.00</span></div>
    <div style="position:absolute;left:454.99px;top:407.71px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:407.65px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:408.36px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:419.52px" class="cls_003"><span class="cls_003">121003762217</span></div>
    <div style="position:absolute;left:177.95px;top:421.32px" class="cls_003"><span class="cls_003">Gutierrez</span></div>
    <div style="position:absolute;left:244.23px;top:421.32px" class="cls_003"><span class="cls_003">Jonalyn</span></div>
    <div style="position:absolute;left:325.59px;top:421.32px" class="cls_003"><span class="cls_003">Arnaldo</span></div>
    <div style="position:absolute;left:366.70px;top:421.32px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:421.32px" class="cls_003"><span class="cls_003">55000.00</span></div>
    <div style="position:absolute;left:454.99px;top:420.67px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:420.61px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:421.32px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:432.47px" class="cls_003"><span class="cls_003">121166372089</span></div>
    <div style="position:absolute;left:182.93px;top:434.27px" class="cls_003"><span class="cls_003">Intal</span></div>
    <div style="position:absolute;left:234.87px;top:434.27px" class="cls_003"><span class="cls_003">Maria Cassandra</span></div>
    <div style="position:absolute;left:327.84px;top:434.27px" class="cls_003"><span class="cls_003">Grajo</span></div>
    <div style="position:absolute;left:366.70px;top:434.27px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:434.27px" class="cls_003"><span class="cls_003">25000.00</span></div>
    <div style="position:absolute;left:454.99px;top:433.62px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:433.56px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:434.27px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:445.43px" class="cls_003"><span class="cls_003">121115379432</span></div>
    <div style="position:absolute;left:177.31px;top:447.23px" class="cls_003"><span class="cls_003">Jumao-as</span></div>
    <div style="position:absolute;left:232.98px;top:447.23px" class="cls_003"><span class="cls_003">Maria Nelia Angela</span></div>
    <div style="position:absolute;left:325.59px;top:447.23px" class="cls_003"><span class="cls_003">Amante</span></div>
    <div style="position:absolute;left:366.70px;top:447.23px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:447.23px" class="cls_003"><span class="cls_003">45000.00</span></div>
    <div style="position:absolute;left:454.99px;top:446.58px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:446.52px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:447.23px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:458.38px" class="cls_003"><span class="cls_003">109002377664</span></div>
    <div style="position:absolute;left:178.55px;top:460.18px" class="cls_003"><span class="cls_003">Labasan</span></div>
    <div style="position:absolute;left:246.12px;top:460.18px" class="cls_003"><span class="cls_003">Diana</span></div>
    <div style="position:absolute;left:324.08px;top:460.18px" class="cls_003"><span class="cls_003">Asuncion</span></div>
    <div style="position:absolute;left:366.70px;top:460.18px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:410.40px;top:460.18px" class="cls_003"><span class="cls_003">120000.00</span></div>
    <div style="position:absolute;left:454.99px;top:459.53px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:459.47px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:460.18px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:471.34px" class="cls_003"><span class="cls_003">121058648489</span></div>
    <div style="position:absolute;left:181.19px;top:473.14px" class="cls_003"><span class="cls_003">Lorilla</span></div>
    <div style="position:absolute;left:239.23px;top:473.14px" class="cls_003"><span class="cls_003">Joseph John</span></div>
    <div style="position:absolute;left:321.22px;top:473.14px" class="cls_003"><span class="cls_003">de los reyes</span></div>
    <div style="position:absolute;left:366.70px;top:473.14px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:473.14px" class="cls_003"><span class="cls_003">45000.00</span></div>
    <div style="position:absolute;left:454.99px;top:472.48px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:472.43px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:473.14px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:484.29px" class="cls_003"><span class="cls_003">108002278259</span></div>
    <div style="position:absolute;left:179.19px;top:486.09px" class="cls_003"><span class="cls_003">Olaguer</span></div>
    <div style="position:absolute;left:248.24px;top:486.09px" class="cls_003"><span class="cls_003">Ajel</span></div>
    <div style="position:absolute;left:323.97px;top:486.09px" class="cls_003"><span class="cls_003">Celestino</span></div>
    <div style="position:absolute;left:366.70px;top:486.09px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:486.09px" class="cls_003"><span class="cls_003">90000.00</span></div>
    <div style="position:absolute;left:454.99px;top:485.44px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:485.38px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:486.09px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:497.24px" class="cls_003"><span class="cls_003">121049578474</span></div>
    <div style="position:absolute;left:178.57px;top:499.05px" class="cls_003"><span class="cls_003">Ordoñez</span></div>
    <div style="position:absolute;left:239.98px;top:499.05px" class="cls_003"><span class="cls_003">Vania Marie</span></div>
    <div style="position:absolute;left:323.84px;top:499.05px" class="cls_003"><span class="cls_003">Labarada</span></div>
    <div style="position:absolute;left:366.70px;top:499.05px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:499.05px" class="cls_003"><span class="cls_003">40000.00</span></div>
    <div style="position:absolute;left:454.99px;top:498.39px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:498.34px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:499.05px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:510.20px" class="cls_003"><span class="cls_003">101002796742</span></div>
    <div style="position:absolute;left:183.19px;top:512.00px" class="cls_003"><span class="cls_003">Rac</span></div>
    <div style="position:absolute;left:247.86px;top:512.00px" class="cls_003"><span class="cls_003">Lyla</span></div>
    <div style="position:absolute;left:323.84px;top:512.00px" class="cls_003"><span class="cls_003">Gonzales</span></div>
    <div style="position:absolute;left:366.70px;top:512.00px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:512.00px" class="cls_003"><span class="cls_003">45000.00</span></div>
    <div style="position:absolute;left:454.99px;top:511.35px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:511.29px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:512.00px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:523.15px" class="cls_003"><span class="cls_003">121092110201</span></div>
    <div style="position:absolute;left:181.19px;top:524.95px" class="cls_003"><span class="cls_003">Sager</span></div>
    <div style="position:absolute;left:229.86px;top:524.95px" class="cls_003"><span class="cls_003">Edmond Albert Moses</span></div>
    <div style="position:absolute;left:325.59px;top:524.95px" class="cls_003"><span class="cls_003">Catipan</span></div>
    <div style="position:absolute;left:366.70px;top:524.95px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:524.95px" class="cls_003"><span class="cls_003">70000.00</span></div>
    <div style="position:absolute;left:454.99px;top:524.30px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:524.24px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:524.95px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:536.11px" class="cls_003"><span class="cls_003">121039142113</span></div>
    <div style="position:absolute;left:180.68px;top:537.91px" class="cls_003"><span class="cls_003">Sagun</span></div>
    <div style="position:absolute;left:239.36px;top:537.91px" class="cls_003"><span class="cls_003">Alexander Jr</span></div>
    <div style="position:absolute;left:323.22px;top:537.91px" class="cls_003"><span class="cls_003">Capinding</span></div>
    <div style="position:absolute;left:366.70px;top:537.91px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:537.91px" class="cls_003"><span class="cls_003">70000.00</span></div>
    <div style="position:absolute;left:454.99px;top:537.26px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:537.20px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:537.91px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:549.06px" class="cls_003"><span class="cls_003">121167521770</span></div>
    <div style="position:absolute;left:178.57px;top:550.86px" class="cls_003"><span class="cls_003">Tiamson</span></div>
    <div style="position:absolute;left:245.49px;top:550.86px" class="cls_003"><span class="cls_003">Shaira</span></div>
    <div style="position:absolute;left:325.84px;top:550.86px" class="cls_003"><span class="cls_003">Espiritu</span></div>
    <div style="position:absolute;left:366.70px;top:550.86px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:550.86px" class="cls_003"><span class="cls_003">30000.00</span></div>
    <div style="position:absolute;left:454.99px;top:550.21px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:550.15px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:550.86px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:562.02px" class="cls_003"><span class="cls_003">011118395017</span></div>
    <div style="position:absolute;left:179.19px;top:563.82px" class="cls_003"><span class="cls_003">Velasco</span></div>
    <div style="position:absolute;left:244.49px;top:563.82px" class="cls_003"><span class="cls_003">Lareina</span></div>
    <div style="position:absolute;left:328.35px;top:563.82px" class="cls_003"><span class="cls_003">Trufil</span></div>
    <div style="position:absolute;left:366.70px;top:563.82px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:563.82px" class="cls_003"><span class="cls_003">40000.00</span></div>
    <div style="position:absolute;left:454.99px;top:563.16px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:563.11px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:563.82px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:31.78px;top:574.97px" class="cls_003"><span class="cls_003">111111111111</span></div>
    <div style="position:absolute;left:176.81px;top:576.77px" class="cls_003"><span class="cls_003">Villanueva</span></div>
    <div style="position:absolute;left:237.12px;top:576.77px" class="cls_003"><span class="cls_003">Aissah Camille</span></div>
    <div style="position:absolute;left:325.35px;top:576.77px" class="cls_003"><span class="cls_003">Sta.Ana</span></div>
    <div style="position:absolute;left:366.70px;top:576.77px" class="cls_003"><span class="cls_003">01 2021</span></div>
    <div style="position:absolute;left:411.65px;top:576.77px" class="cls_003"><span class="cls_003">40000.00</span></div>
    <div style="position:absolute;left:454.99px;top:576.12px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:485.94px;top:576.06px" class="cls_003"><span class="cls_003">100.00</span></div>
    <div style="position:absolute;left:517.63px;top:576.77px" class="cls_003"><span class="cls_003">200.00</span></div>
    <div style="position:absolute;left:453.49px;top:632.17px" class="cls_004"><span class="cls_004">2900.00</span></div>
    <div style="position:absolute;left:485.89px;top:632.17px" class="cls_004"><span class="cls_004">2900.00</span></div>
    <div style="position:absolute;left:531.30px;top:632.17px" class="cls_004"><span class="cls_004">5800.00</span></div>
    <div style="position:absolute;left:453.49px;top:645.13px" class="cls_004"><span class="cls_004">2900.00</span></div>
    <div style="position:absolute;left:485.89px;top:645.13px" class="cls_004"><span class="cls_004">2900.00</span></div>
    <div style="position:absolute;left:531.30px;top:645.13px" class="cls_004"><span class="cls_004">5800.00</span></div>
    <div style="position:absolute;left:110.99px;top:717.43px" class="cls_002"><span class="cls_002">Lovely Cabalfin</span></div>
    <div style="position:absolute;left:329.92px;top:717.43px" class="cls_002"><span class="cls_002">Admin Manager</span></div>
    </div>
</div>

