<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <p class="Heading">Cost Center</p>
        <hr>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li><a class="active">View</a></li>
                        <li routerLink="/DependentDetailsModify"><a>Modify</a></li>
                    </ul>
                </div>
            </div>

            <div class="card card-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="Heading">Cost Center</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Remarks</th>
                                    <th scope="col">Action</th>
                                </tr>
                                <tr>
                                    <td>Testing</td>
                                    <td>0098</td>
                                    <td>This department responsible for testing</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr>
                                    <td>Development</td>
                                    <td>0096</td>
                                    <td>This department responsible for WebsiteDevelopment</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-4">
                        <!-- <button class="button">Add</button> -->
                        <a href="/CostCenterForm"><button class="button">Add</button> </a>
                        <button class="button">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>