<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href="" class="Heading">Certificate Of Loan</a>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-1 fonttxt">
                    Date From
                </div>
                <!-- <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration" id="date" name="date">
                </div> -->
                <div class="col-lg-1">
                    <div class="dropdown Cal">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">January</option>
                            <option value="1">February</option>
                            <option value="1">March</option>
                            <option value="1">April</option>
                            <option value="1">May</option>
                            <option value="1">June</option>
                            <option value="1">July</option>
                            <option value="1">August</option>
                            <option value="1">September</option>
                            <option value="1">October</option>
                            <option value="1">November</option>
                            <option value="1">December</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="dropdown Year">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">2022</option>
                            <option value="1">2021</option>
                            <option value="1">2020</option>
                            <option value="1">2019</option>
                            <option value="1">2018</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-1 fonttxt">
                    Date To 
                </div>
                <!-- <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration" id="date" name="date">
                </div> -->
                <div class="col-lg-1">
                    <div class="dropdown Cal">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">January</option>
                            <option value="1">February</option>
                            <option value="1">March</option>
                            <option value="1">April</option>
                            <option value="1">May</option>
                            <option value="1">June</option>
                            <option value="1">July</option>
                            <option value="1">August</option>
                            <option value="1">September</option>
                            <option value="1">October</option>
                            <option value="1">November</option>
                            <option value="1">December</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="dropdown Year">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">2022</option>
                            <option value="1">2021</option>
                            <option value="1">2020</option>
                            <option value="1">2019</option>
                            <option value="1">2018</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-2 fonttxt">
                    Signatory Person
                </div>
                <!-- <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration" id="date" name="date">
                </div> -->
               
                <div class="col-lg-2">
                    <div class="dropdown Signatory">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">Admin</option>
                            <option value="1">HR</option>
                            <option value="1">Finance</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active">View</a></li>
                        <!-- <li><a routerLink="/CompanyProfile">Modify</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-4">
                    <!-- <a routerLink="/PaySlipReport"><button class="button">Add</button> </a> -->
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Status</th>
                                    <!-- <th>Reset Password</th> -->
                                    <!-- <th style="padding-left: 47px;">Actions</th> -->
                                <tr>
                            </thead>
                            <tbody>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-059</td>
                                    <td>Adolfo </td>
                                    <td>Noeme Marie</td>
                                    <td>Active</td>
                                    <!-- <td><button class="ResetBTN">Reset</button></td> -->
                                    <!-- <td> <button class="EditBTN" routerLink="/Updatecompanyprofile">Edit</button>&nbsp;&nbsp;
                                        <button class="DeleteBTN">Delete</button>
                                    </td> -->
                                    <!-- <td><img class="imgcancel" src="/assets/cancel (1).png"></td> -->
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-060</td>
                                    <td>Armor </td>
                                    <td>Robbie</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-061</td>
                                    <td>Lothbrok</td>
                                    <td>Rollo</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-062</td>
                                    <td>Lagartha</td>
                                    <td>Ragnar</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-063</td>
                                    <td>Citrik</td>
                                    <td>Ubbe</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-064</td>
                                    <td>Ivar</td>
                                    <td>Smith</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-065</td>
                                    <td>Stev</td>
                                    <td>Joseph</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-066</td>
                                    <td>Beyorn</td>
                                    <td>Magnus</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-067</td>
                                    <td>Hristik</td>
                                    <td>Rozer</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-068</td>
                                    <td>Horald</td>
                                    <td>Horric</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-069</td>
                                    <td>Harry</td>
                                    <td>Joseph</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-070</td>
                                    <td>Jadon</td>
                                    <td>Smith</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-071</td>
                                    <td>Civik</td>
                                    <td>Jerry</td>
                                    <td>Active</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row leavereq">
                    <!-- <div class="col-lg-10"></div>
                <div class="col-lg-1">
                    <button class="form-control CancelBTN fontheading">Cancel</button>
                </div> -->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <button class="form-control SubmitBTN">SSS SALARY LOAN</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="form-control SubmitBTN">SSS CALMITY LOAN</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="form-control SubmitBTN">HDMF SALARY LOAN</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="form-control SubmitBTN">HDMF CALMITY LOAN</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
