<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href="" class="Heading">Certificate Of Loan</a>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-1 fonttxt">
                    Date From
                </div>
                <!-- <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration" id="date" name="date">
                </div> -->
                <div class="col-lg-1">
                    <div class="dropdown Cal">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">January</option>
                            <option value="1">February</option>
                            <option value="1">March</option>
                            <option value="1">April</option>
                            <option value="1">May</option>
                            <option value="1">June</option>
                            <option value="1">July</option>
                            <option value="1">August</option>
                            <option value="1">September</option>
                            <option value="1">October</option>
                            <option value="1">November</option>
                            <option value="1">December</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="dropdown Year">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">2022</option>
                            <option value="1">2021</option>
                            <option value="1">2020</option>
                            <option value="1">2019</option>
                            <option value="1">2018</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-1 fonttxt">
                    Date To
                </div>
                <!-- <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration" id="date" name="date">
                </div> -->
                <div class="col-lg-1">
                    <div class="dropdown Cal">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">January</option>
                            <option value="1">February</option>
                            <option value="1">March</option>
                            <option value="1">April</option>
                            <option value="1">May</option>
                            <option value="1">June</option>
                            <option value="1">July</option>
                            <option value="1">August</option>
                            <option value="1">September</option>
                            <option value="1">October</option>
                            <option value="1">November</option>
                            <option value="1">December</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="dropdown Year">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">2022</option>
                            <option value="1">2021</option>
                            <option value="1">2020</option>
                            <option value="1">2019</option>
                            <option value="1">2018</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-2 fonttxt">
                    Signatory Person
                </div>
                <!-- <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration" id="date" name="date">
                </div> -->

                <div class="col-lg-2">
                    <div class="dropdown Signatory">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">Admin</option>
                            <option value="1">HR</option>
                            <option value="1">Finance</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active">View</a></li>
                        <!-- <li><a routerLink="/CompanyProfile">Modify</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-4">
                    <!-- <a routerLink="/PaySlipReport"><button class="button">Add</button> </a> -->
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Status</th>
                                    <!-- <th>Reset Password</th> -->
                                    <!-- <th style="padding-left: 47px;">Actions</th> -->
                                <tr>
                            </thead>
                            <tbody>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-059</td>
                                    <td>Adolfo </td>
                                    <td>Noeme Marie</td>
                                    <td>Active</td>
                                    <!-- <td><button class="ResetBTN">Reset</button></td> -->
                                    <!-- <td> <button class="EditBTN" routerLink="/Updatecompanyprofile">Edit</button>&nbsp;&nbsp;
                                        <button class="DeleteBTN">Delete</button>
                                    </td> -->
                                    <!-- <td><img class="imgcancel" src="/assets/cancel (1).png"></td> -->
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-060</td>
                                    <td>Armor </td>
                                    <td>Robbie</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-061</td>
                                    <td>Lothbrok</td>
                                    <td>Rollo</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-062</td>
                                    <td>Lagartha</td>
                                    <td>Ragnar</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-063</td>
                                    <td>Citrik</td>
                                    <td>Ubbe</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-064</td>
                                    <td>Ivar</td>
                                    <td>Smith</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-065</td>
                                    <td>Stev</td>
                                    <td>Joseph</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-066</td>
                                    <td>Beyorn</td>
                                    <td>Magnus</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-067</td>
                                    <td>Hristik</td>
                                    <td>Rozer</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-068</td>
                                    <td>Horald</td>
                                    <td>Horric</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-069</td>
                                    <td>Harry</td>
                                    <td>Joseph</td>
                                    <td>Active</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-070</td>
                                    <td>Jadon</td>
                                    <td>Smith</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>21-071</td>
                                    <td>Civik</td>
                                    <td>Jerry</td>
                                    <td>Active</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row leavereq">
                    <!-- <div class="col-lg-10"></div>
                <div class="col-lg-1">
                    <button class="form-control CancelBTN fontheading">Cancel</button>
                </div> -->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <button class="form-control SubmitBTN" (click)="showsalaryLoan()">SSS SALARY LOAN</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="form-control SubmitBTN" (click)="showcalamityLoan()">SSS CALMITY LOAN</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="form-control SubmitBTN" (click)="showhdmfsalaryLoan()">HDMF SALARY LOAN</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="form-control SubmitBTN" (click)="showhdmfcalamityLoan()">HDMF CALMITY
                            LOAN</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>



<div class="row" *ngIf="showsalary==1">
    
    <div id="downloadaplication"
        style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden;margin-top: 1000px;background-color: white;">
        <div style="position:absolute;left:0px;top:0px">
            <img src="../../assets/images/AmazeLogo.jpg" width=60 height=70>
        </div>
        <button class="button" (click)="convetToPDF1()">Export to PDF <i class="fa fa-download" aria-hidden="true"></i></button>
        <div style="position:absolute;left:197.79px;top:147.77px" class="cls_004"><span class="cls_004">CERTIFICATION OF
                SSS LOAN PAYMENTS</span></div>
        <div style="position:absolute;left:73.87px;top:199.94px" class="cls_002"><span class="cls_002">This is to
                certify that the following payments has been remitted to </span><span class="cls_003">Social Security
                System (SSS) </span><span class="cls_002">for</span></div>
        <div style="position:absolute;left:73.87px;top:211.45px" class="cls_003"><span class="cls_003">Ms. NOEME MARIE
                A. ADOLFO</span><span class="cls_002"> with </span><span class="cls_003">SSS No. 06-3428661-4</span>
        </div>
        <div style="position:absolute;left:159.99px;top:253.16px" class="cls_005"><span class="cls_005">Month /
                Year</span></div>
        <div style="position:absolute;left:234.09px;top:253.16px" class="cls_005"><span class="cls_005">SSS Loan
                Amount</span></div>
        <div style="position:absolute;left:335.05px;top:253.16px" class="cls_005"><span class="cls_005">Receipt
                No.</span></div>
        <div style="position:absolute;left:416.44px;top:253.16px" class="cls_005"><span class="cls_005">Payment
                Date</span></div>
        <div style="position:absolute;left:172.49px;top:267.56px" class="cls_006"><span class="cls_006">TOTAL</span>
        </div>
        <div style="position:absolute;left:167.61px;top:287.24px" class="cls_007"><span class="cls_007">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:340.41px;top:287.24px" class="cls_007"><span class="cls_007">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:73.87px;top:323.05px" class="cls_002"><span class="cls_002">This
                certification is issued to </span><span class="cls_003">Ms. ADOLFO</span><span class="cls_002"> this 4th
                day of January 2022, at TalentUS Inc., 5F Phinma</span></div>
        <div style="position:absolute;left:73.87px;top:334.56px" class="cls_002"><span class="cls_002">Plaza, 39 Phinma
                Dr, , for whatever purpose it may serve.</span></div>
        <div style="position:absolute;left:485.72px;top:440.88px" class="cls_008"><span class="cls_008">TalentUS
                Inc.</span></div>
        <div style="position:absolute;left:453.15px;top:450.36px" class="cls_008"><span class="cls_008">SSS no.
                80-0205100-4</span></div>
        <div style="position:absolute;left:477.16px;top:554.93px" class="cls_008"><span class="cls_008">Lovely
                Cabalfin</span></div>
        <div style="position:absolute;left:476.22px;top:564.42px" class="cls_008"><span class="cls_008">Admin
                Manager</span></div>
    </div>
</div>
<br>



<div class="row" *ngIf="showcalamity==1">
    
    <div id="downloadaplication"
        style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden;margin-top: 1000px;background-color: white;">
        <div style="position:absolute;left:0px;top:0px">
            <img src="../../assets/images/AmazeLogo.jpg" width=60 height=70>
        </div>
        <button class="button" (click)="convetToPDF1()">Export to PDF <i class="fa fa-download" aria-hidden="true"></i></button>
        <div style="position:absolute;left:169.20px;top:147.77px" class="cls_004"><span class="cls_004">CERTIFICATION OF
                SSS CALAMITY LOAN PAYMENTS</span></div>
        <div style="position:absolute;left:73.87px;top:199.94px" class="cls_002"><span class="cls_002">This is to
                certify that the following payments has been remitted to </span><span class="cls_003">Social Security
                System (SSS) </span><span class="cls_002">for</span></div>
        <div style="position:absolute;left:73.87px;top:211.45px" class="cls_003"><span class="cls_003">Ms. NOEME MARIE
                A. ADOLFO</span><span class="cls_002"> with </span><span class="cls_003">SSS No. 06-3428661-4</span>
        </div>
        <div style="position:absolute;left:159.99px;top:253.16px" class="cls_005"><span class="cls_005">Month /
                Year</span></div>
        <div style="position:absolute;left:234.09px;top:253.16px" class="cls_005"><span class="cls_005">SSS Loan
                Amount</span></div>
        <div style="position:absolute;left:335.05px;top:253.16px" class="cls_005"><span class="cls_005">Receipt
                No.</span></div>
        <div style="position:absolute;left:416.44px;top:253.16px" class="cls_005"><span class="cls_005">Payment
                Date</span></div>
        <div style="position:absolute;left:172.49px;top:267.56px" class="cls_006"><span class="cls_006">TOTAL</span>
        </div>
        <div style="position:absolute;left:167.61px;top:287.24px" class="cls_007"><span class="cls_007">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:340.41px;top:287.24px" class="cls_007"><span class="cls_007">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:73.87px;top:323.05px" class="cls_002"><span class="cls_002">This
                certification is issued to </span><span class="cls_003">Ms. ADOLFO</span><span class="cls_002"> this 4th
                day of January 2022, at TalentUS Inc., 5F Phinma</span></div>
        <div style="position:absolute;left:73.87px;top:334.56px" class="cls_002"><span class="cls_002">Plaza, 39 Phinma
                Dr, , for whatever purpose it may serve.</span></div>
        <div style="position:absolute;left:485.72px;top:440.88px" class="cls_008"><span class="cls_008">TalentUS
                Inc.</span></div>
        <div style="position:absolute;left:453.15px;top:450.36px" class="cls_008"><span class="cls_008">SSS no.
                80-0205100-4</span></div>
        <div style="position:absolute;left:477.16px;top:554.93px" class="cls_008"><span class="cls_008">Lovely
                Cabalfin</span></div>
        <div style="position:absolute;left:476.22px;top:564.42px" class="cls_008"><span class="cls_008">Admin
                Manager</span></div>
    </div>
</div>


<div class="row" *ngIf="showhdmfcalamity==1">
   
    <div id="downloadaplication"
        style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden;margin-top: 1000px;background-color: white;">
        <div style="position:absolute;left:0px;top:0px">
            <img src="../../assets/images/AmazeLogo.jpg" width=60 height=70>
        </div>
        <button class="button" (click)="convetToPDF1()">Export to PDF <i class="fa fa-download" aria-hidden="true"></i></button>
        <div style="position:absolute;left:86.37px;top:150.63px" class="cls_004"><span class="cls_004">CERTIFICATION
                OF HOME DEVELOPMENT FUND (HDMF) CALAMITY LOAN PAYMENTS</span></div>
        <div style="position:absolute;left:66.81px;top:199.94px" class="cls_002"><span class="cls_002">This is to
                certify that the payment of </span><span class="cls_003">Ms. NOEME MARIE A. ADOLFO</span><span
                class="cls_002"> have been remitted to </span><span class="cls_003">Home</span></div>
        <div style="position:absolute;left:66.81px;top:211.45px" class="cls_003"><span class="cls_003">Development
                Fund (HDMF)</span><span class="cls_002"> as indicated in the summary below.</span></div>
        <div style="position:absolute;left:131.19px;top:253.16px" class="cls_005"><span class="cls_005">Month /
                Year</span></div>
        <div style="position:absolute;left:219.37px;top:253.16px" class="cls_005"><span class="cls_005">HDMF Loan
                Amount</span></div>
        <div style="position:absolute;left:342.26px;top:253.16px" class="cls_005"><span class="cls_005">Receipt
                No.</span></div>
        <div style="position:absolute;left:423.72px;top:253.16px" class="cls_005"><span class="cls_005">Payment
                Date</span></div>
        <div style="position:absolute;left:143.21px;top:267.56px" class="cls_005"><span class="cls_005">TOTAL</span>
        </div>
        <div style="position:absolute;left:153.21px;top:287.24px" class="cls_006"><span class="cls_006">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:354.81px;top:287.24px" class="cls_006"><span class="cls_006">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:74.01px;top:323.05px" class="cls_002"><span class="cls_002">This
                certification is issued to </span><span class="cls_003">Ms. ADOLFO</span><span class="cls_002"> this
                4th day of January 2022, at TalentUS Inc., 5F Phinma</span></div>
        <div style="position:absolute;left:74.01px;top:334.56px" class="cls_002"><span class="cls_002">Plaza, 39
                Phinma Dr, , for whatever purpose it may serve.</span></div>
        <div style="position:absolute;left:74.01px;top:490.13px" class="cls_007"><span class="cls_007">Lovely
                Cabalfin</span></div>
        <div style="position:absolute;left:74.01px;top:499.62px" class="cls_007"><span class="cls_007">Admin
                Manager</span></div>
    </div>
</div>

<div class="row" *ngIf="showhdmfsalary ">
    
      
    <div id="downloadaplication"
        style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden;margin-top: 1000px;background-color: white;">
        <div style="position:absolute;left:0px;top:0px">
            <img src="../../assets/images/AmazeLogo.jpg" width=60 height=70>
        </div>
        <button class="button" (click)="convetToPDF1()">Export to PDF <i class="fa fa-download" aria-hidden="true"></i></button>
        <div style="position:absolute;left:91.91px;top:150.63px" class="cls_004"><span class="cls_004">CERTIFICATION
                OF
                HOME DEVELOPMENT FUND (HDMF) SALARY LOAN PAYMENTS</span></div>
        <div style="position:absolute;left:66.81px;top:199.94px" class="cls_002"><span class="cls_002">This is to
                certify that the contribution of </span><span class="cls_003">Ms. NOEME MARIE A. ADOLFO</span><span
                class="cls_002"> have been remitted to </span><span class="cls_003">Home</span></div>
        <div style="position:absolute;left:66.81px;top:211.45px" class="cls_003"><span class="cls_003">Development
                Fund
                (HDMF)</span><span class="cls_002"> as indicated in the summary below.</span></div>
        <div style="position:absolute;left:138.39px;top:253.16px" class="cls_005"><span class="cls_005">Month /
                Year</span></div>
        <div style="position:absolute;left:226.57px;top:253.16px" class="cls_005"><span class="cls_005">HDMF Loan
                Amount</span></div>
        <div style="position:absolute;left:349.45px;top:253.16px" class="cls_005"><span class="cls_005">Receipt
                No.</span></div>
        <div style="position:absolute;left:430.92px;top:253.16px" class="cls_005"><span class="cls_005">Payment
                Date</span></div>
        <div style="position:absolute;left:150.41px;top:267.56px" class="cls_005"><span class="cls_005">TOTAL</span>
        </div>
        <div style="position:absolute;left:160.41px;top:287.24px" class="cls_006"><span class="cls_006">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:347.61px;top:287.24px" class="cls_006"><span class="cls_006">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:74.01px;top:323.05px" class="cls_002"><span class="cls_002">This
                certification is issued to </span><span class="cls_003">Ms. ADOLFO</span><span class="cls_002"> this
                4th
                day of January 2022, at TalentUS Inc., 5F Phinma</span></div>
        <div style="position:absolute;left:74.01px;top:334.56px" class="cls_002"><span class="cls_002">Plaza, 39
                Phinma
                Dr, , for whatever purpose it may serve.</span></div>
        <div style="position:absolute;left:74.01px;top:490.13px" class="cls_007"><span class="cls_007">Lovely
                Cabalfin</span></div>
        <div style="position:absolute;left:74.01px;top:499.62px" class="cls_007"><span class="cls_007">Admin
                Manager</span></div>
    </div>
</div>
<br>