<div class="container-fluid" *ngIf="temp=='1'">

    <div class="row">
        <div class="col-lg-1">
            <img src="assets/images/89_89_L.png" class="logo" alt="logo" routerLink="/CompanyDashboard">
        </div>

        <div class="col-lg-1" style="margin-right: -31px;">
            <div class="dropdown">
                <h6 class=" dropdown-toggle menutext" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-expanded="false">
                    Setup
                </h6>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-item"><a href="#"></a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1">Company</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="menuitem" tabindex="-1"
                                    routerLink="/CompanyDashboard">Profile</a></li>
                            <!-- <li class="dropdown-item"><a class="menuitem" routerLink="/CostCenter">Cost Centres</a></li> -->
                            <li class="dropdown-item"><a class="menuitem" routerLink="/Department">Departments</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/Bank">Banks</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/PayGroup">Pay Group</a></li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown-item"><a routerLink="/PayRoll">Payroll</a></li> -->
                    <!--  -->
                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1">Payroll</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="menuitem" tabindex="-1" routerLink="/OtRates">OT
                                    Rates</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/Adjustment"> Adjustment
                                    Template</a></li>
                            <!-- <li class="dropdown-item"><a class="menuitem" routerLink="/CompanyAdjustment"> Company Adjustment</a></li> -->
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1">References</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="menuitem" routerLink="/TaxTable">Tax Table</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/TaxtableAnnual">Annual Tax
                                    Table</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/PhillHealth">PhilHealth</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/SSS">SSS</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/Government">Govt. OR Records</a>
                            </li>
                            <!-- <li class="dropdown-item"><a routerLink="/PayGroup">Access Control</a></li> -->
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-lg-1" style="margin-right: -10px;">
            <h6 class="menutext" routerLink="/EmployeeDashboard">Employees</h6>
        </div>
        <div class="col-lg-1">
            <h6 class=" dropdown-toggle menutext" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-expanded="false">Attendence</h6>

            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="menuitem" tabindex="-1" routerLink="/AttendenceDetails">Attendence
                        Details</a></li>
                <!-- <li class="dropdown-item"><a class="menuitem" routerLink="/OvertimeDetails">OverTime Details</a></li> -->
                <!-- <li class="dropdown-item"><a class="menuitem" routerLink="/RegularisationDetails">Regularisations</a></li>
                    <li class="dropdown-item"><a class="menuitem" routerLink="/WeeklyShift">Weekly Shift</a></li> -->
            </ul>
        </div>
        <div class="col-lg-1" style="margin-right: -31px;">
            <h6 class="menutext" routerLink="/LeaveListDashboard">Leaves</h6>
        </div>
        <div class="col-lg-1" style="margin-right: -40px;">
            <h6 class="menutext" routerLink="/User">Users</h6>
        </div>

        <div class="col-lg-1">
            <h6 class="menutext" routerLink="/PayRoll">Payroll Runs</h6>
        </div>

        <div class="col-lg-1" style="margin-right: -25px;">
            <!-- <h6  class=" dropdown-toggle menutext" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-expanded="false">Reports</h6>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a  class="menuitem" tabindex="-1" routerLink="/AttendenceReport">Attendence Report</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/LeaveReport">Leave Report</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/PayrollReportComponent">PayRoll Report</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/GeneratePayslip">Generate PaySlips</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/StaffReport">Staff Report</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/OvertimeReport">Overtime Report</a></li>
            </ul> -->


            <div class="dropdown">
                <h6 class=" dropdown-toggle menutext" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-expanded="false">
                    Report
                </h6>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-item"><a href="#"></a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1">Payroll</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="menuitem" routerLink="/PreliminaryReport">Priliminary Report</a></li>
                            <li class="dropdown-item"><a class="menuitem" tabindex="-1" routerLink="/PayrollSummaryReport">Payroll Summary</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/MonthlySummaryReport">Monthly Summary</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/AdjustmentGenerateReport">Adjustment Report</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/PaySlipReport">PaySlip</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/YTDReport">YTD Report</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/YTDReportAdjustment">YTD Report-Adjustments</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1">SSS</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="menuitem" tabindex="-1" routerLink="/SSSR3Report">R-3</a>
                            </li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/SSSR5Report">R-5</a></li>
                            <!-- <li class="dropdown-item"><a class="menuitem" routerLink="/SSSLMSReport">SSS-LMS</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/SSSAMSCCLReport">SSS-AMSCCL</a></li> -->
                            <li class="dropdown-item"><a class="menuitem" routerLink="/SSSML1Report"> ML-1</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/SSSRL1Report"> R1-A</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1">PhilHealth</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="menuitem" tabindex="-1" routerLink="/ER2">ER-2</a>
                            </li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/RFreport">RF-1 Data</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/RF1PDF">RF-1 Pdf</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1">PAG-IBIG</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="menuitem" tabindex="-1"
                                    routerLink="/M1mcrf">M1-1(MCRF)</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/M1excel">M1-1 Excel</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/PagibigSTLRF">Pag-ibig
                                    STLRF</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/PagibigSTLRFExcel">Pag-ibig STLRF
                                    Excel</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1" routerLink="/CertificateOfContribution">Certificate of Contribution</a>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1" routerLink="/CertificateOfLoan">Certificate of Loan</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-1">
            <h6 class=" dropdown-toggle menutext" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-expanded="false">Master</h6>

            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="menuitem" tabindex="-1" routerLink="/LeaveTypeDashboard">Leave Type
                        Master</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/CountryMasterDash">Country Master</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/StateMasterDash">State Master</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/CityMasterDash">City Master</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/CurrencyMaster">Currency Master</a></li>
            </ul>
        </div>


        <div class="col-lg-1">
            <h6 class="menutext" routerLink="/Help">Help</h6>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-1" style="margin-left: 100px;">
            <img src="../../../assets/images/logout.png" class="logout" (click)="logout()" class="logout">
        </div>
    </div>
</div>