<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-2">
            <img src="../../../assets/images/89_89_L.png" class="logo" alt="logo">
        </div>
        <div class="col-lg-9"> 

            <ul>
                <li><a class="active" href="#home">PayRoll</a></li>
                <li><a href="#news">Reports</a></li>
                <li><a href="#contact">Setup</a></li>
                <li><a href="#about">Employees</a></li>
                <li><a href="#about">Users</a></li>
              </ul>
        </div>
        <div class="col-lg-1">
            <img src="../../../assets/images/logout.png" class="logout" (click)="logout()" class="logout">
        </div>
    </div>
    <hr>
</div>

