<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href=""class="Heading">Employee</a>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="row FilterClass">
                <div class="col-lg-2">
                    Filter By
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration">
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="search" placeholder="Search for date , Type or Code">
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active">View</a></li>
                        <li routerLink="/DependentDetailsModify"><a>Modify</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <a href="/EmployeeForm"><button class="button">Add</button> </a>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>Employee No</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Cost Center</th>
                                    <th>Date Hired</th>
                                    <th>Employment Status</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                <tr>
                            </thead>
                            <tbody>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>EMP005</td>
                                    <td>Lothbrok</td>
                                    <td>Ragnar</td>
                                    <td>CC21</td>
                                    <td>12/11/2020</td>
                                    <td>Active</td>
                                    <td>Active</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>EMP006</td>
                                    <td>Jonas</td>
                                    <td>Nick</td>
                                    <td>CC22</td>
                                    <td>15/10/2018</td>
                                    <td>Active</td>
                                    <td>Active</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>EMP009</td>
                                    <td>Harry</td>
                                    <td>Peter</td>
                                    <td>CC24</td>
                                    <td>09/07/2019</td>
                                    <td>Active</td>
                                    <td>Active</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>EMP014</td>
                                    <td>Smith</td>
                                    <td>Jadon</td>
                                    <td>CC29</td>
                                    <td>12/04/2020</td>
                                    <td>Active</td>
                                    <td>Active</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>EMP016</td>
                                    <td>Pedric</td>
                                    <td>Lagartha</td>
                                    <td>CC28</td>
                                    <td>22/10/2018</td>
                                    <td>Active</td>
                                    <td>Active</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>