<div class="container-fluid">


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-lg-3">
                    <input type="text" placeholder="Search" id="term" [(ngModel)]="term" class="form-control">
                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3" style="text-align: center;">

                </div>

            </div><br>
            <div class="row">
                <div class="col-md-10">
                    <p class="show3res">SHOWING <span style="color: black;">{{leavelist.length}} </span>RESULTS</p>
                </div>
                <div class="col-md-2">
                    <button class=" form-control btn" routerLink="/CountryMasterForm">Add New</button>
                </div>
            </div>
            <br><br>
            <div class="row" style="margin-left: -99px;">
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th>Country Name</th>
                                    <th>Description</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let holiday of leavelist">
                                    <td>{{holiday.short}}</td>
                                    <td>{{holiday.description}}</td>
                                    <td> <button class="EditBTN"
                                            [routerLink]="['/CountryMasterForm',holiday.id]">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="DeleteBTN" (click)="DeleteCountryType(holiday.id)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-md-1"></div>
            </div>



        </div>
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />