
   <div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <p class="taxtable">Government OR Records</p> <hr>

            <div class="container">
                <div class="row FilterClass">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2">
                        Filter By
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control" type="date" placeholder="Date">
                    </div>
                   
                </div><br> <br>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-2">
                        <p class="text1">SBR/OR Number</p>
                    </div>
                    <div class="col-lg-2">
                        <p class="text1"> Amount Paid</p>
                       
                    </div>
                    <div class="col-lg-2">
                        <p class="text1"> Date Paid </p>
                    </div>
                  
                  </div>
                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 text">
                        <p class="sideheading">SSS</p>                       
                    </div>
                    <div class="col-lg-2">
                       <input class="form-control input" ><br>
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control input" ><br>
                     </div>
                    <div class="col-lg-2">
                        <input class="form-control input"  type="date"><br>
                    </div>
                 
                  </div>
                    
                   <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 text">
                        <p class="sideheading">SSS Salary Loan</p>       
                      
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control input" ><br>
                     </div>
                     <div class="col-lg-2">
                         <input class="form-control input" ><br>
                      </div>
                     <div class="col-lg-2">
                         <input class="form-control input"  type="date"><br>
                     </div>
                   </div>                
                    <br>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-2 text">
                            <p class="sideheading"> SSS Calamity Loan</p>                             
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control input" ><br>
                         </div>
                         <div class="col-lg-2">
                             <input class="form-control input" ><br>
                          </div>
                         <div class="col-lg-2">
                             <input class="form-control input"  type="date"><br>
                         </div>
                    </div><br>
                   <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 text">
                        <p class="sideheading">PhilHealth</p>                      
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control input" ><br>
                     </div>
                     <div class="col-lg-2">
                         <input class="form-control input" ><br>
                      </div>
                     <div class="col-lg-2">
                         <input class="form-control input"  type="date"><br>
                     </div>
                   </div> <br>
                   <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 text">
                        <p class="sideheading"></p>
                        HDMF
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control input" ><br>
                     </div>
                     <div class="col-lg-2">
                         <input class="form-control input" ><br>
                      </div>
                     <div class="col-lg-2">
                         <input class="form-control input"  type="date"><br>
                     </div>
                   </div> <br>
                
                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 text">
                        <p class="sideheading"> HDMF Salary Loan</p>     
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control input" ><br>
                     </div>
                     <div class="col-lg-2">
                         <input class="form-control input" ><br>
                      </div>
                     <div class="col-lg-2">
                         <input class="form-control input"  type="date"><br>
                     </div>
                  </div>                  
               <br>
               <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text">
                    <p class="sideheading"> HDMF Calamity Loan</p>                  
                </div>
                <div class="col-lg-2">
                    <input class="form-control input" ><br>
                 </div>
                 <div class="col-lg-2">
                     <input class="form-control input" ><br>
                  </div>
                 <div class="col-lg-2">
                     <input class="form-control input"  type="date"><br>
                 </div>
               </div>                 
                <br>
                <div class="row">
                    <div class="col-lg-6"></div>
                <div class="col-lg-2">
                  <button class="save input" >Save</button> <br>
                </div>
                </div>               
              <br>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    </div>
    <hr>    
    <br>
  
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-7">
        <table class="table">
           
            <thead>
                <tr class="newFont" >
                    <th class="SelectData">Select</th>
                    <th>Type </th>
                    <th>SBR No</th>
                    <th>Amount Paid </th>
                    <th style="width: 217px;">Attachment</th>
                    <th>Action</th>
                <tr>
            </thead>
            <tbody>
                <tr class="newFont" >
                    <td class="SelectData" ><input type="checkbox"></td>
                    <td>SSS Loan</td>
                    <td>676767678</td>
                    <td>10000</td>
                    <td><img src="assets/images/MLReport.jpg" style="width:40%"> </td>
                   
                    <td><img class="imgcancel"  src="/assets/cancel (1).png" style="width:10%"></td>
                </tr>
                <tr class="newFont" >
                    <td class="SelectData" ><input type="checkbox"></td>
                    <td>HDMF Loan</td>
                    <td>909767678</td>
                    <td>15000</td>
                    <td><img src="assets/images/MLReport.jpg" style="width:40%"> </td>
                   
                    <td><img class="imgcancel"  src="/assets/cancel (1).png" style="width:10%"></td>
                </tr>
                <tr class="newFont">
                    <td class="SelectData" ><input type="checkbox"></td>
                    <td>Phil Health</td>
                    <td>909067678</td>
                    <td>15000</td>
                    <td><img src="assets/images/MLReport.jpg" style="width:40%"> </td>
                   
                    <td><img class="imgcancel"  src="/assets/cancel (1).png" style="width:10%"></td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>
   


<!-- 
        <div class="col-lg-3"></div>
        <div class="col-lg-2 text">
            SSS
        </div>
        <div class="col-lg-2">
            <input class="form-control input"><br>
        </div>
        <div class="col-lg-2">
            <input class="form-control input" type="date"><br>
        </div>
        <div class="col-lg-3"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <p class="taxtable"> Government OR Records</p>
            </div>
            <div class="card"><br>
                <div class="row leavereq">
                    <div class="col-md-6">
                        <p class="newFont">SSS:</p>
                    </div>
                    <div class="col-md-6">
                        <p class="newFont"> SSS Loan:</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                </div><br>
                <div class="row leavereq">
                    <div class="col-md-6">
                        <p class="newFont">SSS Calamity Loan:</p>
                    </div>
                    <div class="col-md-6">
                        <p class="newFont"> Phill Health:</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                </div><br>
                <div class="row leavereq">
                    <div class="col-md-6">
                        <p class="newFont">HDMF:</p>
                    </div>
                    <div class="col-md-6">
                        <p class="newFont">HDMF Loan:</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                </div><br>
                <div class="row leavereq">
                    <div class="col-md-6">
                        <p class="newFont">Hdmp Calamity :</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                </div><br>
            </div> <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button class="button">Save</button>
                </div>
                <div class="col-md-3">
                    <button class="button2">Cancel</button>
                </div> 
                <div class="col-md-3"></div> 
             </div><br>

        </div>
    </div>

    <div class="col-lg-1"></div>
</div> -->
