

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href=""class="Heading newFont">User</a>
                    <hr class="HrLine">
                </div>
            </div>
            <!-- <div class="row FilterClass">
                <div class="col-lg-2">
                    Filter By
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration">
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="search" placeholder="Search for Name or Role ">
                </div>
            </div><br> -->
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active">View</a></li>
                        <li routerLink="/DependentDetailsModify"><a href="/UserForm">Modify</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <a href="/UserForm"><button class="button">Add</button> </a>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <!-- <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Date Added </th>
                                    <th scope="col">Action</th>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>Testing</td>
                                    <td>0098</td>
                                    <td>This department responsible for testing</td>
                                    <td>20-12-2021</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr class="newFont" >
                                    <td>Development</td>
                                    <td>0096</td>
                                    <td>This department responsible for WebsiteDevelopment</td>
                                    <td>20-12-2021</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                            </thead> -->
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Date Added</th>
                                    <th>Is Active?</th>
                                    <th>Is Total?</th>
                                    <th>Is Locked?</th>
                                    <th>Action</th>
                                <tr>
                                    <tr *ngFor="let user of userdetails">
                                        <td class="SelectData"><input type="checkbox">{{user.selectedData}}</td>
                                        <td>{{user.userName}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.role}}</td>
                                        <td>{{user.dateAdded}}</td>
                                        <td>{{user.isActive}}</td>
                                        <td>{{user.isTotal}}</td>
                                        <td>{{user.isLocked}}</td>
                                        <td>
                                            <img class="img" src="/assets/cancel (1).png" alt="delete"
                                                (click)="Ondelete(user.id)">
                                        </td>
                                    <tr>
                            </thead>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>