<div class="container-fluid"  style="background-color: #f2f2f2;">
    <div class="row FormHead">
        <div class="col-lg-2">
            <p class="FormHeadText">OT RATES FORM</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10"></div>
    </div>
    <br>
    <div class="row LocDashboard">
        <div class="col-lg-12">
            <label>OT Rates Form Details</label>
        </div>
    </div>
    <div class="card BOXCARD">
        <div class="row leavereq">
            <div class="col-md-2">
                <label>Day <span style="color: red;">*</span></label>
            </div>
            <div class="col-md-2">
                <label>Normal Day<span style="color: red;">*</span></label>
            </div>
            <div class="col-md-2">
                <label>OT<span style="color: red;">*</span></label>
            </div>
            <div class="col-md-2">
                <label>ND<span style="color: red;">*</span></label>
            </div>
            <div class="col-md-2">
                <label>NDOT<span style="color: red;">*</span></label>
            </div>
        </div>
        <div class="row leavereq">
            <div class="col-md-2">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button class="form-control CancelBTN">Cancel</button>
            </div>
            <div class="col-lg-1">
                <button class="form-control SubmitBTN">Submit</button>
            </div>
        </div>
    </div><br>
</div>



