<!-- 
   <div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <p class="taxtable">Government OR Records</p>
        </div>
        <div class="col-lg-1"></div>
    </div>
    </div>
    <hr>    
    <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-2">
                    <p class="text1">SBR/OR Number</p>
                </div>
                <div class="col-lg-2">
                    <p class="text1"> Date Paid </p>
                </div>
                <div class="col-lg-3"></div>
             
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    SSS
                </div>
                <div class="col-lg-2">
                   <input class="form-control input" ><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control input"  type="date"><br>
                </div>
                <div class="col-lg-3"></div>

                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                   SSS Loan
                </div>
                <div class="col-lg-2">
                   <input class="form-control input" ><br>
                </div>
                <div class="col-lg-2 ">
                    <input class="form-control input" type="date"><br>
                </div>
                <div class="col-lg-3"></div>
                <br>
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    SSS Calamity Loan
                </div>
                <div class="col-lg-2">
                   <input class="form-control input"><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control input" type="date" ><br>
                </div>
                <div class="col-lg-3"></div>
                <br>
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                   PhilHealth
                </div>
                <div class="col-lg-2">
                   <input class="form-control input"> <br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control input"  type="date" ><br>
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    HDMF
                </div>
                <div class="col-lg-2">
                   <input class="form-control input"><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control input"  type="date"><br>
                </div>
                <div class="col-lg-3"></div>

                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    HDMF Loan
                </div>
                <div class="col-lg-2">
                   <input class="form-control input" ><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control input"  type="date" ><br>
                </div>
                <div class="col-lg-3"></div>
           <br>

                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    Hdmp Calamity Loan
                </div>
                <div class="col-lg-2">
                   <input class="form-control input" ><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control input"  type="date" ><br>
                </div>
                <div class="col-lg-3"></div>
            <br>
            <div class="col-lg-6"></div>
            <div class="col-lg-2">
              <button class="save input" >Save</button> <br>
            </div>
          <br>
        </div> -->

        <div class="col-lg-3"></div>
        <div class="col-lg-2 text">
            SSS
        </div>
        <div class="col-lg-2">
            <input class="form-control input"><br>
        </div>
        <div class="col-lg-2">
            <input class="form-control input" type="date"><br>
        </div>
        <div class="col-lg-3"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <p class="taxtable"> Government OR Records</p>
            </div>
            <div class="card"><br>
                <div class="row leavereq">
                    <div class="col-md-6">
                        <p class="newFont">SSS:</p>
                    </div>
                    <div class="col-md-6">
                        <p class="newFont"> SSS Loan:</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                </div><br>
                <div class="row leavereq">
                    <div class="col-md-6">
                        <p class="newFont">SSS Calamity Loan:</p>
                    </div>
                    <div class="col-md-6">
                        <p class="newFont"> Phill Health:</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                </div><br>
                <div class="row leavereq">
                    <div class="col-md-6">
                        <p class="newFont">HDMF:</p>
                    </div>
                    <div class="col-md-6">
                        <p class="newFont">HDMF Loan:</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                </div><br>
                <div class="row leavereq">
                    <div class="col-md-6">
                        <p class="newFont">Hdmp Calamity :</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-lg-3">
                        <p class="sidetext">SBR/OR NUMBER</p>
                        <input class="form-control input" placeholder="SBR Number">
                    </div>
                    <div class="col-lg-3">
                        <p class="sidetext">Date Paid</p>
                        <input class="form-control input" type="date">
                    </div>
                </div><br>
            </div> <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button class="button">Save</button>
                </div>
                <div class="col-md-3">
                    <button class="button2">Cancel</button>
                </div> 
                <div class="col-md-3"></div> 
             </div><br>

        </div>
    </div>

    <div class="col-lg-1"></div>
</div>
