<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-4">
                    <a href="" class="Heading fontheading">M1-EXCEL</a>
                </div>
            </div>
            <hr>
            <div class="row FilterClass ">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p> Select Start Month & Year</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <!-- <option value="Select">Select</option> -->
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div><br>
            <!-- <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p>Signatory Person</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="Admin">Admin</option>
                        <option value="HR">HR</option>                 
                        <option value="Finance">Finance</option>                                          
                      </select>
                </div>
            </div> <br> -->
            <div>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="generate" data-toggle="collapse" data-target="#demo">GENERATE</button>
                    </div>
                </div>
            </div>
            <br>

            <div class="container-fluid" id="demo" class="collapse">
                <div class="row">
                    <div class="col-lg-2">
                        <P>Employer ID: </P>
                    </div>
                    <div class="col-lg-2">
                        <h6>209754750003</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <P>Employer Name: </P>
                    </div>
                    <div class="col-lg-2">
                        <h6>TalentZone Inc</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <P>Address: </P>
                    </div>
                    <div class="col-lg-6">
                        <h6>5F Phinma Plaza, 39 Phinma Dr, Rockwell Center, Makati City.</h6>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <button class="form-control button" (click)="exportexcel()">EXPORT TO EXCEL</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered fonttxt">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData"><input type="checkbox" (click)="selectALL(true)">&nbsp; Select</th>
                                    <th>Pag-IBIG ID/RTN</th>
                                    <th>ACCOUNT NO. </th>
                                    <th>MEMBERSHIP PROGRAM</th>
                                    <th>LAST NAME</th>
                                    <th>FIRST NAME</th>
                                    <th>PERCOV</th>
                                    <th>EE SHARE</th>
                                    <th>ER SHARE</th>
                                    <th>REMARKS</th>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>121166372089</td>
                                    <td>1002887332</td>
                                    <td>Pag-IBIG</td>
                                    <td>Intal</td>
                                    <td>Maria Cassandra</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Pag-IBIG generated for January Month</td>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>108002278259</td>
                                    <td>1005652656</td>
                                    <td>Modified Pag-IBIG</td>
                                    <td>Olaguer</td>
                                    <td>Ajel</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Pag-IBIG generated for July Month</td>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>506002778288</td>
                                    <td>1018378272</td>
                                    <td>Modified Pag-IBIG</td>
                                    <td>Bersamira</td>
                                    <td>Carlo</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Pag-IBIG generated for December Month</td>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>226678799098</td>
                                    <td>1012287827</td>
                                    <td>Pag-IBIG</td>
                                    <td>Rac</td>
                                    <td>Lyla</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Pag-IBIG generated for January Month</td>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>110098293878</td>
                                    <td>1012456528</td>
                                    <td>Pag-IBIG</td>
                                    <td>Sager</td>
                                    <td>Edmond Albert Moses</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Pag-IBIG generated for December Month</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>