<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-4">
                    <a href="" class="Heading fontheading">M1-EXCEL</a>
                </div>
            </div>
            <hr>
            <div class="row FilterClass ">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p> Select Start Month & Year</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <!-- <option value="Select">Select</option> -->
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div><br>
            <!-- <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p>Signatory Person</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="Admin">Admin</option>
                        <option value="HR">HR</option>                 
                        <option value="Finance">Finance</option>                                          
                      </select>
                </div>
            </div> <br> -->



            <div class="container-fluid" id="demo" class="collapse">
                <div class="row View">
                    <!-- <ul>
                        <li><a class="active fontheading">Select ALL</a></li>
                        <li><a class="active fontheading">Uncheck ALL</a></li>
                        <a class="active fontheading">Employees in selected Period</a>
                    </ul> -->
                    <div class="col-lg-3">
                        <a class="active fontheading">Employees in selected Period</a>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <button class="form-control button" (click)="exportexcel()">EXPORT TO
                            EXCEL</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered fonttxt">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>EmployeeR ID</th>
                                    <th>Employer Name</th>
                                    <th>Address</th>
                                    <th>Pag-IBIG ID/RTN</th>
                                    <th>LAST NAME</th>
                                    <th>FIRST NAME</th>
                                    <th>MIDDLE NAME</th>
                                    <th>PERCOV</th>
                                    <th>EE SHARE</th>
                                    <th>ER SHARE</th>
                                    <th>REMARKS</th>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>209754750003</td>
                                    <td>TalentZone Inc</td>
                                    <td>5F Phinma Plaza, 39 Phinma Dr, Rockwell Center, Makati City </td>
                                    <td>121166372089</td>
                                    <td>Intal</td>
                                    <td>Maria Cassandra</td>
                                    <td>Grajo</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>209754750003</td>
                                    <td>TalentZone Inc</td>
                                    <td>5F Phinma Plaza, 39 Phinma Dr, Rockwell Center, Makati City </td>
                                    <td>108002278259</td>
                                    <td>Olaguer</td>
                                    <td>Ajel</td>
                                    <td>Celestino</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Active</td>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>209754750003</td>
                                    <td>TalentZone Inc</td>
                                    <td>5F Phinma Plaza, 39 Phinma Dr, Rockwell Center, Makati City </td>
                                    <td>108002278259</td>
                                    <td>Bersamira</td>
                                    <td>Carlo</td>
                                    <td>de Guzman</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Terminated</td>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>209754750003</td>
                                    <td>TalentZone Inc</td>
                                    <td>5F Phinma Plaza, 39 Phinma Dr, Rockwell Center, Makati City </td>
                                    <td>108002278259</td>
                                    <td>Rac</td>
                                    <td>Lyla</td>
                                    <td>Gonzales</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Active</td>
                                </tr>
                                <tr>
                                    <td class="SelectData"><input type="checkbox" data-toggle="collapse"
                                            data-target="#demo1"></td>
                                    <td>209754750003</td>
                                    <td>TalentZone Inc</td>
                                    <td>5F Phinma Plaza, 39 Phinma Dr, Rockwell Center, Makati City </td>
                                    <td>108002278259</td>
                                    <td>Sager</td>
                                    <td>Edmond Albert Moses</td>
                                    <td>Catipan</td>
                                    <td>012021</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>Active</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control button1" data-toggle="collapse" data-target="#demo">GENERATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>