<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href="" class="Heading">M1-1 Excel</a>
                    <hr class="HrLine">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-2 fonttxt">
                    Select Month & Year
                </div>
                <!-- <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration" id="date" name="date">
                </div> -->
                <div class="col-lg-1">
                    <div class="dropdown Cal">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">January</option>
                            <option value="1">February</option>
                            <option value="1">March</option>
                            <option value="1">April</option>
                            <option value="1">May</option>
                            <option value="1">June</option>
                            <option value="1">July</option>
                            <option value="1">August</option>
                            <option value="1">September</option>
                            <option value="1">October</option>
                            <option value="1">November</option>
                            <option value="1">December</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="dropdown Year">
                        <select class="form-control inputfield  fonttxt">
                            <option value="Select">2022</option>
                            <option value="1">2021</option>
                            <option value="1">2020</option>
                            <option value="1">2019</option>
                            <option value="1">2018</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <!-- <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button class="form-control CancelBTN fontheading">Cancel</button>
            </div> -->
                <div class="col-lg-5"></div>
                <div class="col-lg-2">
                    <button class="form-control SubmitBTN">PRINT</button>
                </div>
                
            </div>
            <br>

            

            
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

