<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li><a class="active" routerLink="/DependentDetails">View</a></li>
                        <li><a>Modify</a></li>
                    </ul>
                </div>
            </div>
            <div class="card card-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="Employement">Dependent Details: Peera Pornsuksawang</p>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="child">No. of child</p>
                    </div>
                </div>
                <div class="row Details">
                    <div class="col-lg-2">
                        <p>Dependent Name <span style="color: red;">*</span></p>
                        <input class="form-control" placeholder="">
                    </div>
                    <div class="col-lg-2">
                        <p>Relationship: <span style="color: red;">*</span></p>
                        <select class="form-control">
                            <option value="Select One">Select One</option>
                            <option value="Brother">Brother</option>
                            <option value="Daughter">Daughter</option>
                            <option value="Father">Father </option>
                            <option value="Grand Parent">Grand Parent</option>
                            <option value="Grand Child">Grand Child</option>
                            <option value="Grand father">Grand Child</option>
                            <option value="Mother">Grand Child</option>
                            <option value="Sister">Grand Child</option>
                            <option value="Son">Grand Child</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <p>Gender <span style="color: red;">*</span></p>
                        <select class="form-control">
                            <option value="Select One">Select One</option>
                            <option value="Do Not Disclose">Do Not Disclose</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female </option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <p>Date Of Birth:</p>
                        <input class="form-control" type="date">
                    </div>
                    <div class="col-lg-2">
                       <p>Address:</p>
                       <input class="form-control" type="date">
                    </div>
                </div><br>
                    <div class="row Details">
                        <div class="col-lg-2">
                            <p>Mobile Number</p>
                         <input class="form-control" placeholder="">
                        </div>
                        <div class="col-lg-2">
                            <p>Is Dependent</p>
                         <input type="Checkbox">
                        </div>
                        <div class="col-lg-2">
                            <p>ID NUmber:</p>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="row Details">
                        <div class="col-lg-2">
                            <p>IS Child Adopted:</p>
                            <input type="checkbox">
                        </div>
                        <div class="col-lg-2">
                            <p>Race:</p>
                            <select class="form-control">
                                <option value="Select One">Select One</option>
                                <option value="Caucasian">Caucasian</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Indian">Indian </option>
                            </select>
                        </div>
                    </div> <br>
                    <div class="row Details">
                        <div class="col-lg-2">
                            <p>CitizenShip:</p>
                            <select class="form-control">
                                <option value="Select One">Select One</option>
                                <option value="Afghan">Afghan</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American">American </option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <p>Country of Birth:</p>
                            <select class="form-control">
                                <option value="Select One">Select One</option>
                                <option value="Caucasian">Caucasian</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Indian">Indian </option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <p>Religion:</p>
                            <select class="form-control">
                                <option value="Select One">Select One</option>
                                <option value="Agnostic">Agnostic</option>
                                <option value="Hindi">Hindi</option>
                                <option value="Buddhism">Buddhism </option>
                                <option value="Christinity">Christinity </option>
                                <option value="Hindusim">Hindusim </option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <p>Reside in Singapore:</p>
                           <input type="checkbox">
                        </div>
                        <div class="col-lg-2">
                            <p>Working Status:</p>
                            <select class="form-control">
                                <option value="Select One">Select One</option>             
                            </select>
                        </div>
                    </div> <br> <br>            
                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2">
                        <button class="Button">Add</button> &nbsp;&nbsp;
                        <button class="Button">Cancel</button>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                           <thead>
                            <tr>                              
                                <th scope="col">Request Type</th>
                                <th scope="col">Company Name</th>
                                <th scope="col">Title</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Salary</th>
                                <th scope="col">Action</th>                           
                            </tr>
                            <tr>
                                No records Found
                            </tr>
                           </thead>
                        </table>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2">
                        <button class="Button">Submit</button> &nbsp;&nbsp;
                        <button class="Button">Cancel</button>
                    </div>
                </div><br>
        </div>
    </div>
</div>
<div class="col-lg-1"></div>
</div>
