<div class="container-fluid" style="background-color:#f8f9fa;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row FirstRow">
                <div class="col-md-4">
                    <ul>
                        <li><a class="EXPD">Pay Group</a></li>
                    </ul>
                </div>
                <div class="col-md-8"></div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-2">
                    Filter By
                </div>
                <div class="col-md-2">
                    <input class="form-control" type="date" placeholder="Duration">
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="search" placeholder="Search for Description">
                </div>
            </div>
            <br>
            

            <div class="row">
                <div class="col-md-5">
                    
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <a routerLink="/PayGroupForm"><button class="form-control AddExpense">Add</button></a>
                </div>
            </div><br>

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Development</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Digital Marketing</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Testing</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Graphic Designing</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Sales</td>
                                <td>Edit / Delete</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div><br><br>
</div>



