<!-- <div class="container-fluid" style="background-color:#f8f9fa;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row FirstRow">
                <div class="col-md-4">
                    <ul>
                        <li><a class="EXPD">OT Rates</a></li>
                    </ul>
                </div>
                <div class="col-md-8"></div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-2">
                    Filter By
                </div>
                <div class="col-md-2">
                    <input class="form-control" type="date" placeholder="Duration">
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="search" placeholder="Search for date , Day">
                </div>
            </div>
            <br>
            

            <div class="row">
                <div class="col-md-5">
                    
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <a routerLink="/OtRatesForm"><button class="form-control AddExpense">Add</button></a>
                </div>
            </div><br>

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Normal</th>
                                <th>OT</th>
                                <th>ND</th>
                                <th>NDOT</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Rest Day</td>
                                <td>₱650</td>
                                <td>₱300</td>
                                <td>₱95</td>
                                <td>₱120</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Special Holiday</td>
                                <td>₱960</td>
                                <td>₱350</td>
                                <td>₱200</td>
                                <td>₱155</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Ordinary Day</td>
                                <td>₱730</td>
                                <td>₱240</td>
                                <td>₱50</td>
                                <td>₱75</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Legal Holiday</td>
                                <td>₱370</td>
                                <td>₱220</td>
                                <td>₱70</td>
                                <td>₱140</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>National Holiday</td>
                                <td>₱530</td>
                                <td>₱340</td>
                                <td>₱150</td>
                                <td>₱275</td>
                                <td>Edit / Delete</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div><br><br>
</div>


 -->
