<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-4">
                    <a href="" class="Heading fontheading"> Alpha List 6.1</a>
                </div>
            </div>
            <hr>
            <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p> Select Year</p>
                </div>

                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div><br>

            <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p>Amended Return:</p>
                </div>

                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="2021">Yes</option>
                        <option value="2020">No</option>
                       
                    </select>
                </div>
            </div><br>

            <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p>No. of Sheets:</p>
                </div>

                <div class="col-lg-2">
                   <input type="text" class="form-control" placeholder="0">
                </div>
            </div><br>

            <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p>It will include:</p>
                </div>
            </div>
          
            <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
                        <label class="form-check-label"  >Normal Payroll</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
                        <label class="form-check-label"  >13th Month</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label"  >Part Time</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label"  >Special Run</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label"  >Special Run Part Time</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label"  >YTD Upload</label>
                    </div>

                </div>

                <div class="col-lg-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label"  >Final Pay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label"  >Final Pay Part Time</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label"  >Adjustments</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label"  >Reimbursements</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label"  >Commission</label>
                    </div>

                </div>
            </div>
            <br>


            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-3">
                    <button class="generate" (click)="showpdf()">GENERATE DAT FILE</button>
                    <p>Generate DAT file for all employees</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered fonttxt">
                        <thead>
                            <tr class="newFont">
                              
                                <th><a>Select All</a> <a>Uncheck All</a></th>
                                <th colspan="2">ALPHALIST OF EMPLOYEES</th>
                                <th><a>Select All</a> <a>Uncheck All</a></th>
                            </tr>
                            <tr class="newFont">
                                <th ></th>
                                <th>Employee ID</th>
                                <th>Name</th>
                                <th>Substitute Filling</th>
                               
                            </tr>
                            <tr>
                                <td class="SelectData"><input type="checkbox"></td>
                                <td>20-004</td>
                                <td>Intal, Maria Cassandra</td>
                                <td class="SelectData"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td class="SelectData"><input type="checkbox"></td>
                                <td>20-003</td>
                                <td>Olaguer, Ajel</td>
                                <td class="SelectData"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td class="SelectData"><input type="checkbox"></td>
                                <td>19-002</td>
                                <td>Fernandez, Andrew</td>
                                <td class="SelectData"><input type="checkbox"></td>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>

            <div class="row">
               
                <div class="col-lg-3"><button class="generate1">GENERATE SCHEDULE 7.1</button><br>
                    <span style="font-size: 9px;color: grey;">Employees terminated
                        before December 31</span></div>
                <div class="col-lg-3"><button class="generate1">GENERATE SCHEDULE 7.3</button><br>
                    <span style="font-size: 9px;color: grey;">Employees with no previous employers
                        as of December 31 within the year</span></div>
                <div class="col-lg-3"><button class="generate1">GENERATE SCHEDULE 7.4</button><br>
                    <span style="font-size: 9px;color: grey;">Employees with previous employers
                        as of December 31 within the year</span></div>
                <div class="col-lg-3"><button class="generate1">GENERATE SCHEDULE 7.5</button><br>
                    <span style="font-size: 9px;color: grey;">Employees who are
                        minimum wage earners
                        </span></div>    <div class="col-lg-1"></div>
            </div><br>

        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row" *ngIf="showleaseforprint==1">
    <!-- <div class="col-lg-5">

    </div>
    <div class="col-lg-3">
       <button class="button1" (click)="convetToPDF1()">Convert To PDF </button>
    </div> -->

    <div class="col-lg-5">
    </div>
    <div class="col-lg-4">
        <button class="button1" (click)="convetToPDF1()">Convert To PDF</button>
    </div>


    <div id="downloadaplication"
        style="position:absolute;left:50%;margin-left:-396px;top:0px;width:792px;height:612px;border-style:outset;overflow:hidden;margin-top: 300px;">
        <div style="position:absolute;left:0px;top:0px">
            <img src="assets/images/ER2.jpg" width=792 height=612>
        </div>
        <div style="position:absolute;left:180.00px;top:96.22px" class="cls_003"><span class="cls_003">TalentUS
                Inc.</span></div>
        <div style="position:absolute;left:655.20px;top:96.22px" class="cls_003"><span
                class="cls_003">004000010244</span></div>
        <div style="position:absolute;left:79.20px;top:117.82px" class="cls_003"><span class="cls_003">5F Phinma Plaza,
                39 Phinma Dr,</span></div>
        <div style="position:absolute;left:532.80px;top:117.82px" class="cls_003"><span
                class="cls_003">andrew@talentusph.com</span></div>
        <div style="position:absolute;left:14.40px;top:190.82px" class="cls_002"><span
                class="cls_002">190900538980</span></div>
        <div style="position:absolute;left:122.40px;top:190.82px" class="cls_002"><span class="cls_002">Dela Cruz, Julie
                Anne San Jose</span></div>
        <div style="position:absolute;left:302.40px;top:190.82px" class="cls_002"><span class="cls_002">Closing
                Officer</span></div>
        <div style="position:absolute;left:445.41px;top:190.82px" class="cls_002"><span class="cls_002">45,000.00</span>
        </div>
        <div style="position:absolute;left:489.60px;top:190.82px" class="cls_002"><span class="cls_002">1/4/2021</span>
        </div>
        <div style="position:absolute;left:561.60px;top:189.15px" class="cls_004"><span class="cls_004">1</span></div>
        <div style="position:absolute;left:172.80px;top:546.93px" class="cls_005"><span class="cls_005">1</span></div>
        <div style="position:absolute;left:620.83px;top:550.53px" class="cls_003"><span class="cls_003">Lovely
                Cabalfin</span></div>
    </div>
</div>