<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <!-- <li><button class="active form-control">
                            <a routerLink="/LeaveListDashboard" class="BackEnt"><span
                                    class="BACK">&#8592;</span></a>
                        </button></li> -->

                    <li><a class="applyleavetxt">Adolfo</a></li>
                </ul>
            </div>
            <div class="col-md-8"></div>
        </div>
        <hr>
        <div class="card">
            <div class="row ">
                <div class="col-lg-12 negative-padding">
                    <p class="companyinfo">Employee Information</p>
                </div>
            </div>
            <hr>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont"> Employee ID<span style="color: red;">*</span></p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Last Name <span style="color: red;">*</span></p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">First Name<span style="color: red;">*</span></p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Middle Name</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Gender</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Date Of Birth</p>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2 newFont">
                    <input type="radio"> Male &nbsp;
                    <input type="radio"> Female
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield newFont" type="date">
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">Civil Status<span style="color: red;">*</span></p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Contact Number</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Home Address</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Zip Code</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Email Address</p>
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <select class="form-control inputfield newFont">
                        <option value="Married ">Married</option>
                        <option value="Single">Single</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="row ">
                <div class="col-lg-12 negative-padding">
                    <p class="companyinfo">Salary Information</p>
                </div>
            </div>
            <hr>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">Tax Status<span style="color: red;">*</span></p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Minimum Wage Earner</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Cola</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Work Days Per Year</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Basic Salary<span style="color:red">*</span></p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">De Minimals<span style="color:red">*</span></p>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input type="radio">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">Ot Computation Table</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">SSS Contribution</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Phil Health Contribution</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">HDMF Contribution</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Additional HDMF Contribution</p>
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input class="form-control" placeholder="">
                </div>
                <div class="col-md-2">
                    <select class="form-control inputfield newFont">
                        <option value="Let System Decide">Let System Decide</option>
                        <!-- <option value="Single">Single</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option> -->
                    </select>
                </div>
                <div class="col-md-2 newFont">
                    <input type="radio"> Let System Decide
                </div>
                <div class="col-md-2 ">
                    <select class="form-control inputfield newFont">
                        <option value="Let System Decide">Let System Decide</option>
                        <!-- <option value="Single">Single</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option> -->
                    </select>
                </div>
                <div class="col-md-2 ">
                    <select class="form-control inputfield newFont">
                        <option value="Let System Decide">Let System Decide</option>
                        <!-- <option value="Single">Single</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option> -->
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="row ">
                <div class="col-lg-12 negative-padding">
                    <p class="companyinfo">Job Details</p>
                </div>
            </div>
            <hr>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">Job Title</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Department</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Cot Center</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Hire Date<span style="color:red">*</span></p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Employee Status<span style="color:red">*</span></p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Status Date<span style="color:red">*</span></p>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <select class="form-control inputfield newFont">
                        <option value="CREFCO Team">CREFCO Team</option>
                        <!-- <option value="Single">Single</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option> -->
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control inputfield newFont">
                        <option value="CREFCO Team">CREFCO </option>
                        <!-- <option value="Single">Single</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option> -->
                    </select>
                </div>
                <div class="col-md-2 ">
                    <input class="form-control newFont" type="date">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input class="form-control newFont" type="date">
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">Work Hours Per Day</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Pay Group <span style="color:red">*</span></p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">ROQH</p>
                </div>
                <div class="col-md-3">
                    <p class="newFont">Consultant</p>
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <select class="form-control inputfield newFont ">
                        <option value="Rank And Field Deployed">Rank And Field Deployed</option>
                        <!-- <option value="Single">Single</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option> -->
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="radio">
                </div>
                <div class="col-md-1">
                    <input type="radio">
                </div>
                <div class="col-md-3">
                    <select class="form-control inputfield newFont">
                        <option value="Select Tax">Select Tax</option>
                        <!-- <option value="Single">Single</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option> -->
                    </select>
                    <select class="form-control inputfield newFont">
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>
                        <option value="WI 050">WI 050</option>

                    </select>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-3">
                    <p class="newFont">TIN <span style="color:red">*</span></p>
                </div>
                <div class="col-md-3">
                    <p class="newFont">RDO</p>
                </div>
                <div class="col-md-3">
                    <p class="newFont">SSS NO.</p>
                </div>
                <div class="col-md-3">
                    <p class="newFont">HDMF NO.</p>
                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <input class="form-control inputfield" placeholder="">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control inputfield" placeholder="">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control inputfield" placeholder="">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control inputfield" placeholder="">
                    </div>
                </div>
            </div>
        </div><br>

        <div class="card">
            <div class="row ">
                <div class="col-lg-12 negative-padding">
                    <p class="companyinfo">Employement Information</p>
                </div>
            </div>
            <hr>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">SL</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">VL</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Leave Credit</p>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00 ">
                </div>
            </div>
            <br>
        </div> <br>
        <div class="card">
            <div class="row ">
                <div class="col-lg-12 negative-padding">
                    <p class="companyinfo">Department</p>
                </div>
            </div>
            <hr>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">Dependent1</p>
                </div>
                <div class="col-md-2">
                    <p class=" ">Dependent Date of Birth</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Dependent2</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Dependent Date of Birth</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Dependent3</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Dependent Date of Birth</p>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control newFont">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control newFont">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control newFont">
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">Dependent4</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Dependent Date of Birth</p>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control newFont">
                </div>
            </div>
        </div> <br>

        <div class="card">
            <div class="row ">
                <div class="col-lg-12 negative-padding">
                    <p class="companyinfo">Bank Details</p>
                </div>
            </div>
            <hr>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">Bank</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Bank Account Type</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Bank Account Type</p>
                </div>
            </div> <br>
            <div class="row leavereq ">
                <div class="col-md-2 ">
                    <select class="form-control inputfield">
                        <option value="Bank Name">Bank Name</option>
                        <option value="HDFC">HDFC</option>
                        <option value="IDFC">IDFC</option>
                        <option value="Yes">Yes</option>
                        <option value="SBI">SBI</option>
                        <option value="ICICI">ICICI</option>
                        <option value="AXIS">AXIS</option>
                    </select>
                </div>
                <div class="col-md-2 newFont">
                    <input type="radio"> Saving &nbsp; &nbsp; &nbsp;
                    <input type="radio"> Current
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="">
                </div>
            </div>
        </div><br>
        <div class="card">
            <div class="row ">
                <div class="col-lg-12 negative-padding">
                    <p class="companyinfo">Previous Employement Details</p>
                </div>
            </div>
            <hr>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont"> Has Previous Employement</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Non-Tax 13th Month</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Non-Tax Other Bonous</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Non-Tax Salaries</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont"> 13th Month</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont"> Other Bonous</p>
                </div>
            </div> <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input type="radio">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
            </div> <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p class="newFont">Taxable Gross</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Tax With Held</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Government Deductions</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">De Minimis</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Taxable Compensation</p>
                </div>
                <div class="col-md-2">
                    <p class="newFont">Monitized Leave</p>
                </div>
            </div> <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
                <div class="col-md-2">
                    <input class="form-control inputfield" placeholder="0.00">
                </div>
            </div> <br>
        </div> <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button class="button">Save</button>
            </div>
            <div class="col-md-3">
                <button class="button2">Cancel</button>
            </div> 
            <div class="col-md-3"></div> 
         </div><br>
            <div class="col-lg-1"></div>
        </div>
    </div>