<div class="container-fluid">
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <p class="taxtable">TAX TABLE</p>
    </div>
    <div class="col-lg-1"></div>
</div>
</div>
<hr>

    <!-- <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            
            <p class="taxtable">TAX TABLE</p>
        </div>
        <div class="col-lg-1"></div>
      <div class="col-lg-2 TaxTableEdit">
            <button class="edit">Edit</button>
        </div> -->
 
    <div class="container">
        <label class="Label">Daily</label>
        <div class="Card cardpadding">
            <div class="row">
                <div class="col-lg-10">
                    <label class="fonttxt">Deductions</label>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-12 table">
                    <table>
                        <tr>
                            <td><span class="menu">1</span></td>
                            <td><span class="menu">2</span></td>
                            <td><span class="menu">3</span></td>
                            <td><span class="menu">4</span></td>
                            <td><span class="menu">5</span></td>
                            <td><span class="menu">6</span></td>
                        </tr>
                     
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                    </table>
                </div>
            </div>
            <label class="fonttxt">Taxtable</label>
            <div class="row">
                <div class="col-lg-12 table">
                    <table>
                        <tr>
                            <td><span class="menu">1</span></td>
                            <td><span class="menu">2</span></td>
                            <td><span class="menu">3</span></td>
                            <td><span class="menu">4</span></td>
                            <td><span class="menu">5</span></td>
                            <td><span class="menu">6</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>

                       
                    </table>
                </div>
            </div>
        </div>
    </div> <br>
    <div class="container">
        <label class="Label">Weekly</label>
        <div class="Card">
            <label class="fonttxt">Deductions</label>
            <div class="row">
                <div class="col-lg-12 table">
                    <table>
                        <tr>
                            <td><span class="menu">1</span></td>
                            <td><span class="menu">2</span></td>
                            <td><span class="menu">3</span></td>
                            <td><span class="menu">4</span></td>
                            <td><span class="menu">5</span></td>
                            <td><span class="menu">6</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>

                    </table>
                </div>
            </div>
            <label class="fonttxt">Taxtable</label>
            <div class="row">
                <div class="col-lg-12 table">
                    <table>
                        <tr>
                            <td><span class="menu">1</span></td>
                            <td><span class="menu">2</span></td>
                            <td><span class="menu">3</span></td>
                            <td><span class="menu">4</span></td>
                            <td><span class="menu">5</span></td>
                            <td><span class="menu">6</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                      
                    </table>
                </div>
            </div>
        </div>
    </div> <br>
    <div class="container">
        <label class="Label">Semi-Monthly</label>
        <div class="Card ">
            <label class="fonttxt">Deductions</label>
            <div class="row">
                <div class="col-lg-12 table">
                    <table>
                        <tr>
                            <td><span class="menu">1</span></td>
                            <td><span class="menu">2</span></td>
                            <td><span class="menu">3</span></td>
                            <td><span class="menu">4</span></td>
                            <td><span class="menu">5</span></td>
                            <td><span class="menu">6</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                      
                    </table>
                </div>
            </div>
            <label class="fonttxt">Taxtable</label>
            <div class="row">
                <div class="col-lg-12 table">
                    <table>
                        <tr>
                            <td><span class="menu">1</span></td>
                            <td><span class="menu">2</span></td>
                            <td><span class="menu">3</span></td>
                            <td><span class="menu">4</span></td>
                            <td><span class="menu">5</span></td>
                            <td><span class="menu">6</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                      
                    </table>
                </div>
            </div>
        </div>
    </div> <br>

    <div class="container">
        <label class="Label">Monthly</label>
        <div class="Card">
            <label class="fonttxt">Deductions</label>
            <div class="row">
                <div class="col-lg-12 table">
                    <table>
                        <tr>
                            <td><span class="menu">1</span></td>
                            <td><span class="menu">2</span></td>
                            <td><span class="menu">3</span></td>
                            <td><span class="menu">4</span></td>
                            <td><span class="menu">5</span></td>
                            <td><span class="menu">6</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                      
                    </table>
                </div>
            </div>
            <label class="fonttxt">Taxtable</label>
            <div class="row">
                <div class="col-lg-12 table">
                    <table>
                        <tr>
                            <td><span class="menu">1</span></td>
                            <td><span class="menu">2</span></td>
                            <td><span class="menu">3</span></td>
                            <td><span class="menu">4</span></td>
                            <td><span class="menu">5</span></td>
                            <td><span class="menu">6</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>

                       
                    </table>
                </div>
            </div>
        </div>
    </div> <br>
