<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <!-- <div>
                <div>
                    <ul>
                        <li><a class="active" routerLink="/AttendenceDetails"> My Attendence Details</a></li>
                        <li><a class="leavelist" routerLink="/MyTeamAttendence">My Team Attendence Details</a></li>
                    </ul>
                </div>
            </div> -->
            <br>
            <div class="card">
                <br>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <p>START DATE:</p>
                    </div>
                    <div class="col-md-3">
                        <p>END DATE:</p>
                    </div>

                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <input type="date" id="startdate" name="startdate" [(ngModel)]="startdate" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input type="date" id="enddate" name="enddate" [(ngModel)]="enddate"
                            (change)="getenddate($event)" class="form-control">
                    </div>

                    <div class="col-md-2">
                        <!-- <ng-multiselect-dropdown [placeholder]="'Select Staff'" [settings]="dropdownSettings"
                        [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                        >
                    </ng-multiselect-dropdown> -->
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <a><button *ngIf="selecallbtn" class="form-control AddExpense" >Approve
                            All</button></a>
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>Select All <input type="checkbox" name="select-all" id="select-all"
                                        (click)="selectALL(true)" /></th> -->
                                <th>Employee Name</th>
                                <th>Date</th>
                                <th>Shift</th>
                                <th>Expected In Time</th>
                                <th>Punch In Time</th>
                                <th>Expected Out Time</th>
                                <th>Punch Out Time</th>
                                <th>Work Hours</th>
                                <th>Extra Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let attendance of attendancelist">
                                <td>{{attendance.name}}</td>
                                <td>{{attendance.signinDate|date}}</td>
                                <td>General Shift</td>
                                <td>10:00</td>
                                <td ng-if="attendance.signinDate|date:'hh:mm' > attendance.signinDate|date:'10:00'"
                                    style="color:red">{{attendance.signinDate|date:'hh:mm'}}</td>

                                <td>5:00</td>
                                <td ng-if="attendance.signoutDate|date:'06:00' > attendance.signoutDate|date:'hh:mm'"
                                    style="color:red">{{attendance.signoutDate|date:'hh:mm'}}</td>
                                <td>{{attendance.hr}}</td>
                                <td>NA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>