<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div>
                <div>
                    <ul>
                        <li><a class="active" routerLink="/AttendenceDetails"> My Attendence Details</a></li>
                        <!-- <li><a class="leavelist" routerLink="/MyTeamAttendence">My Team Attendence Details</a></li> -->
                    </ul>
                </div>
            </div>
         <br>
            <div class="card">
                <br>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <p>START DATE:</p>
                    </div>
                    <div class="col-md-3">
                        <p>END DATE:</p>
                    </div>

                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button class=" form-control submitbtn leavelist">Refresh</button>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>Check Box</th> -->
                                <th>Date</th>
                                <th>Shift</th>
                                <th>Expected In Time</th>
                                <th>Punch In Time</th>
                                <th>Expected Out Time</th>
                                <th>Punch Out Time</th>
                                <th>Work Hours</th>
                                <th>Extra Hours</th>
                            </tr>
                            <tr *ngFor="let shift of shiftdetails">
                              <td>{{shift.date}}</td>
                              <td>{{shift.shift}}</td>
                              <td>{{shift.expectedInTime}}</td>
                              <td>{{shift.punchInTime}}</td>
                              <td>{{shift.expectedOutTime}}</td>
                              <td>{{shift.punchOutTime}}</td>
                              <td>{{shift.workHours}}</td>
                              <td>{{shift.extraHours}}</td>                            
                            </tr>




                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>