<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li><a class="active">View</a></li>
                        <li routerLink="/DependentDetailsModify"><a>Modify</a></li>
                    </ul>
                </div>
            </div>
            <div class="card card-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <label class="Guidelines">Department</label>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Remarks</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div><br>

                    <div class="col-lg-1"></div>
                </div><br>
            </div>