<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href=""class="Heading">Adjustment</a>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="row FilterClass">
                <div class="col-lg-2">
                    Filter By
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration">
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="search" placeholder="Search for date , Type or Code">
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active">View</a></li>
                        <li><a  href="/AdjustmentForm">Modify</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <a href="/AdjustmentForm"><button class="button">Add</button> </a>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Amount</th>
                                    <th>Remarks</th>
                                    <th>Before</th>
                                    <th>Taxable</th>
                                    <th>Max Accumulated</th>
                                    <th>Action</th>
                                <tr>
                            </thead>
                            <tbody>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>SSS Loan</td>
                                    <td>SSS4 Loan</td>
                                    <td>Sal Loan 4</td>
                                    <td>₱ 20,000</td>
                                    <td>For Aldrin Bersamira</td>
                                    <td>False</td>
                                    <td>False</td>
                                    <td>None</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>External Loan</td>
                                    <td>SSS4 Loan</td>
                                    <td>Sal Loan 4</td>
                                    <td>₱ 34,000</td>
                                    <td>For Nelia Jumao-As</td>
                                    <td>False</td>
                                    <td>False</td>
                                    <td>None</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>Loan</td>
                                    <td>SSS4 Loan</td>
                                    <td>Sal Loan 4</td>
                                    <td>₱ 19,000</td>
                                    <td>For Aldrin Bersamira</td>
                                    <td>False</td>
                                    <td>False</td>
                                    <td>None</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>SSS Clamity Loan</td>
                                    <td>SSS4 Calmity Loan 4</td>
                                    <td>SSSC Loan 2</td>
                                    <td>₱ 28,000</td>
                                    <td>For Aldrin Bersamira</td>
                                    <td>False</td>
                                    <td>False</td>
                                    <td>None</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>SSS Loan</td>
                                    <td>SSS3 Loan</td>
                                    <td>Sal Loan 3</td>
                                    <td>₱ 18,000</td>
                                    <td>For Alex sagun</td>
                                    <td>False</td>
                                    <td>False</td>
                                    <td>₱ 28,000</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr  class="newFont">
                                    <td class="SelectData"><input type="checkbox"></td>
                                    <td>Deminimis Allowance</td>
                                    <td>Rice Allowance</td>
                                    <td>RI-ALL</td>
                                    <td>₱ 5,000</td>
                                    <td>Can Cover for food allovance</td>
                                    <td>False</td>
                                    <td>False</td>
                                    <td>₱ 8,000</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>