<div class="container-fluid">    
    <div class="row">
      <div class="col-lg-1"></div>
      <div  class="col-lg-10">
          <!-- <div class="row ">
              <div class="col-lg-2">
                  <p class="FormHeadText">Currency Master Form</p>
              </div>
          </div> -->
          <div class="row">
              <div class="col-lg-10"></div>
          </div>
          <br>
          <div class="row LocDashboard">
              <div class="col-lg-12">
                  <label class="fontheading">Currency Details</label>
              </div>
          </div>
          <div class="card BOXCARD">
              <div class="row leavereq">
                  <div class="col-md-3">
                      <label class="fonttxt">Currency Name<span style="color: red;">*</span></label>
                  </div>
                  <div class="col-md-3">
                      <label class="fonttxt">Country Name<span style="color: red;">*</span></label>
                  </div>
                  <div class="col-md-3">
                      <label  class="fonttxt">Description<span style="color: red;">*</span></label>
                  </div>
              </div>
              <div class="row leavereq">
                  <div class="col-md-3">
                      <input type="text" class="form-control inputfield" >
                  </div>
                  <div class="col-md-3">
                      <input type="text" class="form-control inputfield" >
                  </div>
                  <div class="col-md-3">
                      <textarea class="form-control inputfield" placeholder="Write description"></textarea>
                  </div>
              </div>
              <br>
              <div class="row leavereq">
                  <div class="col-lg-10"></div>
                  <div class="col-lg-1">
                      <button class="form-control CancelBTN fontheading">Cancel</button>
                  </div>
                  <div class="col-lg-1">
                      <button class="form-control SubmitBTN">Submit</button>
                  </div>
              </div>
          </div><br>
      </div>
      <div class="col-lg-1"></div>
  </div>
  
  </div>
  
  
