
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href=""class="Heading fontheading">Certificate of Contribution</a>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="row FilterClass fontheading">
                <div class="col-lg-1">
                   From
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>                       
                      </select>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>                                          
                      </select>
                </div>
                <div class="col-lg-1">
                    <p>To</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>                       
                      </select>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>                                          
                      </select>
                </div>
            </div><br> 
            <div class="row FilterClass fontheading">
                <div class="col-lg-2">
                    <p>Signatory Person</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="HR">HR</option>
                        <option value="Admin">Admin</option>
                        <option value="Finance">Finance</option>                                          
                      </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active fontheading">View</a></li>
                        <!-- <li ><a>Select PayRoll</a></li> -->
                    </ul>
                </div>
<!-- 
                <div class="col-lg-4">
                    <a href="/PayRollForm"><button class="button fontheading">Add</button> </a>
                </div> -->
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered fonttxt">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>Employee ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Status</th>
                                <tr>
                            </thead>
                              <tr>
                                  <td><input type="checkbox"></td>
                                  <td>21-059</td>
                                  <td>Adolfo</td>
                                  <td>Noeme Marie</td>
                                  <td>Active</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td>21-023</td>
                                <td>Amor</td>
                                <td>Robbie</td>
                                <td>Terminated</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-050</td>
                                <td>Baltazar</td>
                                <td>Ruby Rose</td>
                                <td>Terminated</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-033</td>
                                <td>Baniares</td>
                                <td>Jimlyn</td>
                                <td>terminated</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-018</td>
                                <td>Barcelona</td>
                                <td>Ana Meo Joy </td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-028</td>
                                <td>Burac</td>
                                <td>Mary Rose</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-098</td>
                                <td>Cardeno</td>
                                <td>Dina</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-026</td>
                                <td>De Leon</td>
                                <td>Mary Christs</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-087</td>
                                <td>Collada</td>
                                <td>Jacquelin</td>
                                <td>Terminated</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>20-052</td>
                                <td>Geomez</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 

                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 

                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr> 

                        </table>
                    </div>
                </div>
            </div> <br>
           <div class="row">
               <div class="col-lg-1"></div>
               <div class="col-lg-3">
                   <button class="button">SSS</button>
               </div>
               <div class="col-lg-3">
                <button class="button">PAG-IBIG</button>
               </div>
               <div class="col-lg-3">
                <button class="button">Phil Health</button>
               </div>
           </div>
             
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>


<!-- 
<div id="payroll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Run PayRoll</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Leave Deduction :</label>
                        <label class="Text">Adjustment Deduction :</label>
                        <label class="Text">Hired :</label>
                        <label class="Text">Hired :</label>
                    </div>
                    
                </div> <br>

                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save">save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
                <div class="col-lg-2">
                    <button class="Button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
