<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href="" class="Heading fontheading">Certificate of Contribution</a>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="row FilterClass fontheading">
                <div class="col-lg-1">
                    From
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
                <div class="col-lg-1">
                    <p>To</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div><br>
            <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p>Signatory Person</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="HR">HR</option>
                        <option value="Admin">Admin</option>
                        <option value="Finance">Finance</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active fontheading">View</a></li>
                        <!-- <li ><a>Select PayRoll</a></li> -->
                    </ul>
                </div>
                <!-- 
                <div class="col-lg-4">
                    <a href="/PayRollForm"><button class="button fontheading">Add</button> </a>
                </div> -->
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered fonttxt">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData">Select</th>
                                    <th>Employee ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Status</th>
                                <tr>
                            </thead>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-059</td>
                                <td>Adolfo</td>
                                <td>Noeme Marie</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-023</td>
                                <td>Amor</td>
                                <td>Robbie</td>
                                <td>Terminated</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-050</td>
                                <td>Baltazar</td>
                                <td>Ruby Rose</td>
                                <td>Terminated</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-033</td>
                                <td>Baniares</td>
                                <td>Jimlyn</td>
                                <td>terminated</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-018</td>
                                <td>Barcelona</td>
                                <td>Ana Meo Joy </td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-028</td>
                                <td>Burac</td>
                                <td>Mary Rose</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-098</td>
                                <td>Cardeno</td>
                                <td>Dina</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-026</td>
                                <td>De Leon</td>
                                <td>Mary Christs</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-087</td>
                                <td>Collada</td>
                                <td>Jacquelin</td>
                                <td>Terminated</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>20-052</td>
                                <td>Geomez</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-021</td>
                                <td>Endaya</td>
                                <td>Laliet</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>19-002</td>
                                <td>Fernandez</td>
                                <td>Andrew</td>
                                <td>Terminated</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Esubiep</td>
                                <td>Michel Joeshep</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>19-023</td>
                                <td>Galvez</td>
                                <td>Francy Joy</td>
                                <td>Active</td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td>21-017</td>
                                <td>Aquino</td>
                                <td>Ruby Rose</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>20-009</td>
                                <td>Gumapac</td>
                                <td>Nina</td>
                                <td>Terminated</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <button class="button" (click)="showssspdf()">SSS</button>
                </div>
                <div class="col-lg-3">
                    <button class="button" (click)="showpagibigpdf()">PAG-IBIG</button>
                </div>
                <div class="col-lg-3">
                    <button class="button" (click)="showphilhealthpdf()">Phil Health</button>
                </div>
            </div> <br>

        </div>
    </div>
    <div class="col-lg-1"></div>
</div>


<!-- 
<div id="payroll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Run PayRoll</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Leave Deduction :</label>
                        <label class="Text">Adjustment Deduction :</label>
                        <label class="Text">Hired :</label>
                        <label class="Text">Hired :</label>
                    </div>
                    
                </div> <br>

                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save">save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
                <div class="col-lg-2">
                    <button class="Button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<br/>
<br/>
<div class="row" *ngIf="showsss==1">
    

    <div id="downloadaplication"
        style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden;margin-top: 1100px;background-color: white;">
        <div style="position:absolute;left:0px;top:0px">
            <img src="../../assets/images/AmazeLogo.jpg" width=60 height=70>
        </div>
        <div style="position:absolute;left:0px;top:0px">
            <div style="position:absolute;width:50%;">
                <button class="button" (click)="convetToPDF1()">Export to PDF</button>
            </div>
        </div>
        <div style="position:absolute;left:199.53px;top:82.97px" class="cls_004"><span class="cls_004">CERTIFICATION OF
                SSS CONTRIBUTIONS</span></div>
        <div style="position:absolute;left:73.87px;top:127.94px" class="cls_002"><span class="cls_002">This is to
                certify that the following contributions has been remitted to </span><span class="cls_003">Social
                Security System (SSS) </span><span class="cls_002">for</span></div>
        <div style="position:absolute;left:73.87px;top:139.45px" class="cls_003"><span class="cls_003">Ms. NOEME MARIE
                A. ADOLFO</span><span class="cls_002"> with </span><span class="cls_003">SSS No. 06-3428661-4
            </span><span class="cls_002">from January to January 2021</span></div>
        <div style="position:absolute;left:66.39px;top:181.16px" class="cls_005"><span class="cls_005">Month /
                Year</span></div>
        <div style="position:absolute;left:142.50px;top:181.16px" class="cls_005"><span class="cls_005">SSS
                Contribution</span></div>
        <div style="position:absolute;left:231.19px;top:181.16px" class="cls_005"><span class="cls_005">ER
                Contribution</span></div>
        <div style="position:absolute;left:317.59px;top:181.16px" class="cls_005"><span class="cls_005">EC
                Contribution</span></div>
        <div style="position:absolute;left:414.26px;top:181.16px" class="cls_005"><span class="cls_005">Receipt
                No.</span></div>
        <div style="position:absolute;left:495.64px;top:181.16px" class="cls_005"><span class="cls_005">Payment
                Date</span></div>
        <div style="position:absolute;left:78.89px;top:195.56px" class="cls_006"><span class="cls_006">TOTAL</span>
        </div>
        <div style="position:absolute;left:88.41px;top:215.24px" class="cls_007"><span class="cls_007">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:254.15px;top:215.24px" class="cls_007"><span class="cls_007">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:412.41px;top:215.24px" class="cls_007"><span class="cls_007">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:73.87px;top:251.05px" class="cls_002"><span class="cls_002">This
                certification is issued to </span><span class="cls_003">Ms. ADOLFO</span><span class="cls_002"> this 3rd
                day of January 2022, at TalentUS Inc., 5F Phinma</span></div>
        <div style="position:absolute;left:73.87px;top:262.56px" class="cls_002"><span class="cls_002">Plaza, 39 Phinma
                Dr, , for whatever purpose it may serve.</span></div>
        <div style="position:absolute;left:73.87px;top:330px" class="cls_008"><span class="cls_008">TalentUS
                Inc.</span></div>
        <div style="position:absolute;left:73.87px;top:342.36px" class="cls_008"><span class="cls_008">SSS no.
                80-0205100-4</span></div>
        <div style="position:absolute;left:74.01px;top:400.93px" class="cls_008"><span class="cls_008">Lovely
                Cabalfin</span></div>
        <div style="position:absolute;left:74.01px;top:412.42px" class="cls_008"><span class="cls_008">Admin
                Manager</span></div>
      
    </div>
</div>

<br/>
<br/>

<div class="row" *ngIf="showPhilhealth==1">
    <div id="downloadaplication"
        style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden;margin-top: 1100px;background-color: white;">
        <div style="position:absolute;left:0px;top:0px">
            <img src="../../assets/images/AmazeLogo.jpg" width=60 height=70>
        </div>
        <div
            style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
            <div style="position:absolute;left:0px;top:0px">
            </div>
            <div style="position:absolute;left:165.12px;top:82.97px" class="cls_004"><span class="cls_004">CERTIFICATION
                    OF PHILHEALTH PREMIUM PAYMENTS</span></div>
            <div style="position:absolute;left:38.01px;top:127.94px" class="cls_002"><span class="cls_002">This is to
                    certify that </span><span class="cls_003">TalentUS Inc.</span><span class="cls_002"> has remitted to
                </span><span class="cls_003">PhilHealth </span><span class="cls_002">the monthly contributions of
                </span><span class="cls_003">Ms. NOEME MARIE A.</span></div>
            <div style="position:absolute;left:38.01px;top:139.45px" class="cls_003"><span
                    class="cls_003">ADOLFO</span><span class="cls_002"> under </span><span class="cls_003">PhilHealth
                    number. 12-051236413-1 </span><span class="cls_002">from January to January 2021</span></div>
            <div style="position:absolute;left:59.61px;top:179.05px" class="cls_002"><span class="cls_002">A.</span>
            </div>
            <div style="position:absolute;left:88.41px;top:193.45px" class="cls_003"><span class="cls_003">Employee
                    details</span></div>
            <div style="position:absolute;left:88.41px;top:207.85px" class="cls_002"><span class="cls_002">Employee
                    name:</span></div>
            <div style="position:absolute;left:203.61px;top:207.85px" class="cls_002"><span class="cls_002">NOEME MARIE
                    AYCO ADOLFO</span></div>
            <div style="position:absolute;left:88.41px;top:222.25px" class="cls_002"><span
                    class="cls_002">PhilHealth:</span></div>
            <div style="position:absolute;left:203.61px;top:222.11px" class="cls_003"><span
                    class="cls_003">12-051236413-1</span></div>
            <div style="position:absolute;left:88.41px;top:236.65px" class="cls_002"><span
                    class="cls_002">Birthday:</span></div>
            <div style="position:absolute;left:203.61px;top:237.11px" class="cls_002"><span class="cls_002">May 11,
                    1991</span></div>
            <div style="position:absolute;left:88.41px;top:251.05px" class="cls_002"><span class="cls_002">Employment
                    date:</span></div>
            <div style="position:absolute;left:203.61px;top:251.34px" class="cls_002"><span class="cls_002">September
                    20, 2021 up to Present.</span></div>
            <div style="position:absolute;left:59.61px;top:272.63px" class="cls_002"><span class="cls_002">B.</span>
            </div>
            <div style="position:absolute;left:88.41px;top:287.02px" class="cls_003"><span class="cls_003">Monthly
                    Contributions</span></div>
            <div style="position:absolute;left:102.70px;top:303.53px" class="cls_005"><span class="cls_005">Month /
                    Year</span></div>
            <div style="position:absolute;left:181.11px;top:303.53px" class="cls_005"><span class="cls_005">Employee
                    Share</span></div>
            <div style="position:absolute;left:268.24px;top:303.53px" class="cls_005"><span class="cls_005">Employer
                    Share</span></div>
            <div style="position:absolute;left:364.17px;top:303.53px" class="cls_005"><span class="cls_005">Receipt
                    No.</span></div>
            <div style="position:absolute;left:445.27px;top:303.53px" class="cls_005"><span class="cls_005">Payment
                    Date</span></div>
            <div style="position:absolute;left:114.72px;top:317.93px" class="cls_005"><span class="cls_005">TOTAL</span>
            </div>
            <div style="position:absolute;left:88.27px;top:337.61px" class="cls_006"><span class="cls_006">*** NOTHING
                    FOLLOWS ***</span></div>
            <div style="position:absolute;left:254.01px;top:337.61px" class="cls_006"><span class="cls_006">*** NOTHING
                    FOLLOWS ***</span></div>
            <div style="position:absolute;left:412.27px;top:337.61px" class="cls_006"><span class="cls_006">*** NOTHING
                    FOLLOWS ***</span></div>
            <div style="position:absolute;left:38.01px;top:373.42px" class="cls_002"><span class="cls_002">This
                    certification is issued to </span><span class="cls_003">Ms. ADOLFO</span><span class="cls_002"> this
                    4th day of January 2022, at TalentUS Inc., 5F Phinma Plaza, 39 Phinma</span></div>
            <div style="position:absolute;left:38.01px;top:384.93px" class="cls_002"><span class="cls_002">Dr, , for
                    whatever purpose it may serve.</span></div>
            <div style="position:absolute;left:38.01px;top:430.22px" class="cls_007"><span class="cls_007">Lovely
                    Cabalfin</span></div>
            <div style="position:absolute;left:38.01px;top:440.71px" class="cls_007"><span class="cls_007">Admin
                    Manager</span></div>
            <div style="position:absolute;left:38.01px;top:450.19px" class="cls_007"><span class="cls_007">TalentUS
                    Inc.</span></div>
            <div style="position:absolute;left:38.01px;top:460.68px" class="cls_007"><span class="cls_007">PhilHealth
                    no. 00-400001024-4</span></div>
                    <div style="position:absolute;width:70%;top:492.42px; margin-top: 150px;" class="cls_008">
                        <button class="button" (click)="convetToPDF1()">Export to PDF</button>
                    </div>
        </div>
    </div>
</div>
<br>
<br/>
<br/>
<div class="row" *ngIf="showPagibig==1">
    <div id="downloadaplication"
        style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden;margin-top: 1100px;background-color: white;">
        <div style="position:absolute;left:0px;top:0px">
            <img src="../../assets/images/AmazeLogo.jpg" width=60 height=70>
        </div>
        <div style="position:absolute;left:0px;top:0px">

        </div>
        <div style="position:absolute;left:93.09px;top:82.97px" class="cls_004"><span class="cls_004">CERTIFICATION OF
                HOME DEVELOPMENT MUTUAL FUND (HDMF) CONTRIBUTIONS</span></div>
        <div style="position:absolute;left:74.01px;top:127.94px" class="cls_002"><span class="cls_002">This is to
                certify that the contribution of </span><span class="cls_003">Ms. NOEME MARIE A. ADOLFO</span><span
                class="cls_002"> have been remitted to </span><span class="cls_003">Home</span></div>
        <div style="position:absolute;left:74.01px;top:139.45px" class="cls_003"><span class="cls_003">Development Fund
                (HDMF)</span><span class="cls_002"> as indicated in the summary below from January to January
                2021</span></div>
        <div style="position:absolute;left:102.39px;top:181.16px" class="cls_005"><span class="cls_005">Month /
                Year</span></div>
        <div style="position:absolute;left:180.79px;top:181.16px" class="cls_005"><span class="cls_005">Employee
                Share</span></div>
        <div style="position:absolute;left:267.93px;top:181.16px" class="cls_005"><span class="cls_005">Employer
                Share</span></div>
        <div style="position:absolute;left:363.86px;top:181.16px" class="cls_005"><span class="cls_005">Receipt
                No.</span></div>
        <div style="position:absolute;left:445.32px;top:181.16px" class="cls_005"><span class="cls_005">Payment
                Date</span></div>
        <div style="position:absolute;left:114.41px;top:195.56px" class="cls_005"><span class="cls_005">TOTAL</span>
        </div>
        <div style="position:absolute;left:88.41px;top:215.24px" class="cls_006"><span class="cls_006">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:254.01px;top:215.24px" class="cls_006"><span class="cls_006">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:412.41px;top:215.24px" class="cls_006"><span class="cls_006">*** NOTHING
                FOLLOWS ***</span></div>
        <div style="position:absolute;left:74.01px;top:251.05px" class="cls_002"><span class="cls_002">This
                certification is issued to </span><span class="cls_003">Ms. ADOLFO</span><span class="cls_002"> this 4th
                day of January 2022, at TalentUS Inc., 5F Phinma</span></div>
        <div style="position:absolute;left:74.01px;top:262.56px" class="cls_002"><span class="cls_002">Plaza, 39 Phinma
                Dr, , for whatever purpose it may serve.</span></div>
        <div style="position:absolute;left:74.01px;top:340.62px" class="cls_007"><span class="cls_007">Lovely
                Cabalfin</span></div>
        <div style="position:absolute;left:74.01px;top:350.10px" class="cls_007"><span class="cls_007">Admin
                Manager</span></div>
        <div style="position:absolute;left:74.01px;top:360.59px" class="cls_007"><span class="cls_007">TalentUS
                Inc.</span></div>
        <div style="position:absolute;left:74.01px;top:370.08px" class="cls_007"><span class="cls_007">HDMF no.
                20-975475000-3</span></div>
                <div style="position:absolute;width:70%;top:492.42px; margin-top: 150px;" class="cls_008">
                    <button class="button" (click)="convetToPDF1()">Export to PDF</button>
                </div>
    </div>
</div>
<br>