<!-- <div class="container-fluid" style="background-color:#f8f9fa;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row FirstRow">
                <div class="col-md-4">
                    <ul>
                        <li><a class="EXPD">Adjustments</a></li>
                    </ul>
                </div>
                <div class="col-md-8"></div>
            </div>
            <hr>

                <div class="row">
                    <div class="col-md-2">
                        Filter By
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="date" placeholder="Duration">
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="search" placeholder="Search for date , Type or Code">
                    </div>
                </div>
            <br />
            

            <div class="row">
                <div class="col-md-5">
                    
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <a routerLink="/AdjustmentForm"><button class="form-control AddExpense">Add</button></a>
                </div>
            </div><br>

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Amount</th>
                                <th>Remarks</th>
                                <th>Before</th>
                                <th>Taxable</th>
                                <th>Max Accumulated</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Type 1</td>
                                <td>Adam</td>
                                <td>CGP005</td>
                                <td>₱730</td>
                                <td>Remarks abc</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Type 2</td>
                                <td>Steve</td>
                                <td>CGP006</td>
                                <td>₱980</td>
                                <td>Remarks abc</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Type 3</td>
                                <td>Floki</td>
                                <td>CGP007</td>
                                <td>₱750</td>
                                <td>Remarks abc</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Type 4</td>
                                <td>Ragnar</td>
                                <td>CGP008</td>
                                <td>₱960</td>
                                <td>Remarks abc</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Edit / Delete</td>
                            </tr>
                            <tr>
                                <td>Type 5</td>
                                <td>Ecbert</td>
                                <td>CGP009</td>
                                <td>₱710</td>
                                <td>Remarks abc</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td>Edit / Delete</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div><br><br>
</div>

 -->
