<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <p class="Heading fontheading">Payroll adjustments YTD Report</p>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2" style="text-align: right;">Select Year:</div>
                    <div class="col-lg-2">
                        <select class="form-control">
                            <option value=" ">Select</option>
                            <option value="1">2021</option>
                            <option value="1">2020</option>
                            <option value="1">2019</option>
                        </select>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
            <br>
            <div>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control button">EXPORT</button>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div><br>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>