<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12 View">
                    <ul>
                        <li><a class="active">View</a></li>
                        <li routerLink="/DependentDetailsModify"><a>Modify</a></li>
                    </ul>
                </div>
            </div>
         <div class="card card-padding">
             <div class="row">
                 <div class="col-lg-12">
                     <p class="Heading">OT Rates</p>
                 </div>
             </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Normal</th>
                                <th scope="col">OT</th>
                                <th scope="col">ND</th>
                                <th scope="col">NDOT</th>
                                <th scope="col">Action</th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>yes</td>
                                <td>3H</td>
                                <td>NA</td>
                                <td>NA</td>
                           <td class="align">
                                    <button class="edit">Edit</button>  <br>
                                    <button class="edit">Delete</button>  <br>
                                </td>  -->
                                <!-- <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>yes</td>
                                <td>3H</td>
                                <td>NA</td>
                                <td>NA</td>
                                <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                            </tr>
                        </thead>
                    </table>
                </div>                              
            </div><br>
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">
                   <button class="button">Add</button> -->
                    <!-- <a href="/OtRatesForm"><button class="button">Add</button> </a>
                    <button class="button">Cancel</button>

                </div>
            </div>
         </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>  -->




<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <a href=""class="Heading">OT Rates</a>
                    <hr class="HrLine">
                </div>
            </div>
            <div class="row FilterClass">
                <div class="col-lg-2">
                    Filter By
                </div>
                <div class="col-lg-2 ">
                    <input class="form-control" type="date" placeholder="Duration">
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="search" placeholder="Search for date , Type or Code">
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <li><a class="active">View</a></li>
                        <li routerLink="/DependentDetailsModify"><a>Modify</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <a href="/OtRatesForm"><button class="button">Add</button> </a>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="newFont">
                                    <th scope="col">Day</th>
                                    <th scope="col">Normal</th>
                                    <th scope="col">OT</th>
                                    <th scope="col">ND</th>
                                    <th scope="col">NDOT</th>
                                    <th scope="col">Action</th>
                                </tr>
                                <tr  class="newFont" >
                                    <td>2</td>
                                    <td>yes</td>
                                    <td>3H</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <!-- <td class="align">
                                        <button class="edit">Edit</button>  <br>
                                        <button class="edit">Delete</button>  <br>
                                    </td>  -->
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                                <tr class="newFont">
                                    <td>2</td>
                                    <td>yes</td>
                                    <td>3H</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td><img class="imgcancel" src="../../../assets/cancel (1).png"></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>